// Color
$fontPrimaryColor: #0a2939;
$muted: #e5e5e5;
$red: #f05e36;
$navyBlue: #1E5875;
$lightRed: #FDE5DE;
$mutedBlue: #103A4F;
$mutedRed: #f66f4933;

// Font Family
$primaryFont: "IBM Plex Sans";

// Svg Filter
$redFilter: invert(49%) sepia(81%) saturate(2827%) hue-rotate(340deg) brightness(97%) contrast(93%);