* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.birukanan {
  background-color: #0a2939;
  position: fixed;
  height: 100%;
  right: 0px;
  width: 7.2rem;
  z-index: 800;
}

.nav-mobile,
.menu-mobile {
  display: none; // menjadi flex saat berada di mobile
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  .nav-link {
    color: #0a2939;
    height: 23px;

    color: #0a2939;
    font-family: "IBM Plex Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.26px;
    line-height: 23px;

    margin-top: 5rem;
    margin-bottom: -10rem;

    .nav-item {
      img {
        background-color: rebeccapurple;
        color: #0a2939;
      }
    }

    .border-logo {
      background-color: red;
    }
  }

  img {
    position: absolute;
    padding: 180px 0 0 0;
    transform: translateX(-10rem);
    border-right: 2px solid #e5e5e5;
  }

  .dropdownButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;

    margin-left: -2rem;
    margin-right: 2rem;
    // background-color: rebeccapurple;
    border: 2px solid #e5e5e5;
    border-radius: 24px;
  }

  .dropdown-toggle::after {
    color: #f05e36;
  }
}

.sectionSatu {
  margin-top: 12rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30rem;
  border-bottom: 1px solid #e8d4cf;

  .sectionSatuKiri {
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .text {
      position: absolute;
      top: 27rem;
      margin-left: 1rem;

      h1 {
        height: 196px;
        width: 792px;
        color: #f05e36;
        font-family: Butler;
        font-size: 100px;
        letter-spacing: -1.47px;
        line-height: 50px;
      }
    }
  }

  .sectionSatuKanan {
    // background-color: green;
    position: absolute;
    img {
      width: 100%;
      height: 405px;
    }
    margin-left: 14.5rem;
    z-index: -1;
  }
}

.sectionDua {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-bottom: 1px solid #e8d4cf;

  .sectionDuaKiri {
    width: 50%; // supaya section kiri setara dengan yang kanan

    .detailContact {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .kiri {
        width: 50%;

        h6 {
          color: #f05e36;
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: 0.2rem;
        }
      }

      .kanan {
        width: 50%;
        text-align: left;

        p {
          color: #002f39;
        }
      }
    }
  }

  .sectionDuaKanan {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    padding: 2rem;

    .linkMenujuLinkedln {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: #f05e36;
        margin-right: 25px; // untuk margin pada link Linkedln menggunakan px agar jaraknya tidak berubah
      }

      img {
        width: 2.5rem;
      }
    }
  }
}

.sectionTiga {
  padding-top: 100px;
  position: relative;
  margin-bottom: 100px;

  img {
    width: 100%;
    float: right;
  }
}

.sectionLima {
  border: 10px solid #f66f4933;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
  transform: translateY(
    100px
  ); // margin di section tiga tidak berfungsi jadi pakai transform translate
  margin: 10rem auto 10rem auto;

  .stamp {
    img {
      display: none;
    }
  }

  form {
    width: 75%;
  }

  .sectionLimaBody {
    h2 {
      height: 81px;

      color: #002f39;
      font-family: Minion;
      font-size: 26px;
      font-weight: bold;
      letter-spacing: 10.4px;
      line-height: 80px;
      text-align: center;
    }

    p {
      color: #f66e49;
      font-family: "IBM Plex Sans";
      font-size: 22px;
      letter-spacing: -0.32px;
      line-height: 30px;
    }

    .SectionLimaTengah {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      .email {
        padding: 0.5rem;
        border: none;
        margin-right: 9rem;
      }

      .av-checkbox {
        a {
          padding-left: 2rem;
        }
      }

      border-bottom: 1px solid #e8d4cf;
    }

    .SectionLimaBawah {
      input {
        margin: 2rem 0rem;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid #e8d4cf;
        outline: none;
      }
    }
  }

  .SectionLimaBawahDua {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .button {
      border: 1px solid #fff;
      padding: 1rem 4rem;
      border-radius: 24px;
      color: #ffffff;
      font-family: "IBM Plex Sans";
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 20px;
      background-color: #f05e36;
    }

    margin-bottom: 8rem;
  }
}

.Footer {
  width: 100%;
  background-color: #021925;
  height: 40rem;

  .container {
    background-color: #021925;

    height: 100%;
    color: #e8d4cf;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    .footerHeader {
      margin-top: 8rem;
      margin-bottom: 6rem;

      img {
        transform: scale(1.1);
        opacity: 0.8;
      }
    }

    .foooterBody {
      display: flex;
      border-top: 1.5px solid #113d53;
      border-bottom: 1.5px solid #113d53;

      width: 90%;
      height: 10rem;
      justify-content: space-evenly;

      .footerBodyKiri {
        // background-color: #E8D4CF;
        display: flex;
        flex-direction: row;
        width: 65%;
        padding: 3rem 2rem;
        li {
          list-style: none;
          margin-bottom: 2rem;
          height: 15px;
          color: #ffffff;
          font-family: "IBM Plex Sans";
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.5px;
          line-height: 15px;
        }

        .footerBodyKiriOne {
          flex-direction: column;
          display: flex;
          padding-right: 8rem;
        }

        .footerBodyKiriTwo {
          display: flex;
          flex-direction: column;
        }
      }

      .footerBodyKanan {
        // background-color: #E8D4CF;
        padding: 3rem 2rem;
        width: 35%;
        border-left: 2px #113d53 solid;
        .linkedIn {
          display: flex;
          justify-content: center;
          align-items: center;
          h5 {
            margin-top: 0.5rem;
            margin-left: 2rem;
            color: #ffffff;
            font-family: "IBM Plex Sans";
            font-size: 15px;
            letter-spacing: -0.22px;
            line-height: 19.5px;
          }
          text-decoration: none;
        }
      }
    }
  }
}

@media (min-width: 0px) and (max-width: 348px) {
  body {
    width: 100%;
    max-width: 500px;
  }

  .birukanan {
    display: none;
  }

  .row {
    width: 100vw;
    overflow-x: hidden;
  }

  .navbar {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px 8px;
    z-index: 200;

    .container-nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;

      .menu-icon-mobile,
      .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        cursor: pointer;
      }

      .menu-icon-mobile {
        svg {
          width: 2rem;
        }
      }

      .logo-mobile {
        img {
          width: 10rem;
          transform: translateY(10px);
        }
      }
    }
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    background-color: #021925;
    width: 95%;
    height: 100vh;
    padding: 15px 25px;
    transform: translateX(-100vw);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: 400; // lebih tinggi daripada navbar

    .x-icon-mobile {
      svg {
        width: 2rem;
        cursor: pointer;
      }
    }

    .menu-mobile-list {
      display: flex;
      flex-direction: column;
      margin: 25px 0;

      a {
        color: #ffffff;
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .mobile-language {
      padding: 25px 0;
      border-top: 1px solid #113d53;

      p {
        color: #ffffff;
      }

      p::before {
        content: "";
        width: 2px;
        height: 25px;
        background-color: #f05e36;
        transform: translateX(-25px);
      }

      p.current-language {
        color: #f05e36;
      }
    }
  }

  .sectionSatu {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    margin-top: 120px;

    .sectionSatuKiri {
      background-color: transparent;

      .text {
        position: static;
        margin-left: 0;

        h1 {
          width: auto;
          height: auto;
          font-size: 3rem;
        }
      }
    }

    .sectionSatuKanan {
      position: static;
      margin-left: 0;
      z-index: 0;

      img {
        height: 200px;
        object-fit: cover;
      }
    }
  }

  .sectionDua {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 50px;
    padding: 25px 0;
    border-top: 1px solid #e5e5e5;

    .sectionDuaKiri {
      width: 100%;

      .detailContact {
        flex-direction: column;

        .kiri {
          width: 100%;

          h6 {
            margin-bottom: 25px;
          }
        }

        .kanan {
          width: 100%;
          margin-bottom: 25px;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .sectionDuaKanan {
      width: 100%;
      border-top: 1px solid #e5e5e5;
      padding: 2rem 0;

      .linkMenujuLinkedln {
        width: 100%;
        justify-content: center;

        a,
        img {
          margin: 0 25px;
        }

        a {
          font-size: 0.9rem;
          margin-right: 0;
        }
      }
    }
  }

  .sectionTiga {
    display: none;
  }

  .sectionLima {
    width: 100%;
    flex-direction: column;
    margin: 0 0 50px 0;
    padding: 0;
    border: 5px solid #f66f4933;
    transform: translateX(0px);

    .stamp {
      padding: 25px 25px 0 25px;

      img {
        display: block;
        width: 10rem;
        float: right;
      }
    }

    form {
      width: 100%;
    }

    .sectionLimaBody {
      padding: 25px;

      h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        height: auto;
        margin: 15px 0 25px 0;
        line-height: 0;
        letter-spacing: 0.3rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .SectionLimaTengah {
      flex-direction: column;
      justify-content: center;

      input.email {
        width: 100%;
        text-align: center;
        margin: 25px 0;
      }

      input.email:hover,
      input.email:focus,
      input.email:active {
        outline: 2px solid #113d53;
      }

      .av-checkbox {
        border-top: 1px solid #e5e5e5;
        color: #113d53;
      }
    }

    .SectionLimaBawah,
    .SectionLimaBawahDua {
      display: none;
    }
  }

  .Footer {
    .container {
      .footerHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 50px 0;
        border-bottom: 1px solid #113d53;

        img {
          width: 12rem;
        }
      }

      .foooterBody {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-top: 1.5px solid transparent;
        border-bottom: 1.5px solid transparent;
        height: auto;
        padding: 3rem 0;

        .footerBodyKiri,
        .footerBodyKanan {
          width: 100%;
        }

        .footerBodyKiri {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          padding: 0;

          .footerBodyKiriOne,
          .footerBodyKiriTwo {
            text-align: center;
          }

          .footerBodyKiriOne {
            padding-right: 0;
          }
        }

        .footerBodyKanan {
          border-top: 1px solid #113d53;
          border-left: 0;
          width: 100%;
          padding: 25px 0;

          h5 {
            margin-left: 0;
            letter-spacing: 0;
            line-height: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 348px) and (max-width: 500px) {
  body {
    width: 100%;
    max-width: 500px;
  }

  .birukanan {
    display: none;
  }

  .row {
    width: 100vw;
    overflow-x: hidden;
  }

  .navbar {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px 8px;
    z-index: 200;

    .container-nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .menu-icon-mobile,
      .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        cursor: pointer;
      }

      .menu-icon-mobile {
        svg {
          width: 2rem;
        }
      }

      .logo-mobile {
        img {
          width: 10rem;
          transform: translateY(10px);
        }
      }
    }
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    background-color: #021925;
    width: 95%;
    height: 100vh;
    padding: 15px 25px;
    transform: translateX(-100vw);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: 400; // lebih tinggi daripada navbar

    .x-icon-mobile {
      svg {
        width: 2rem;
        cursor: pointer;
      }
    }

    .menu-mobile-list {
      display: flex;
      flex-direction: column;
      margin: 25px 0;

      a {
        color: #ffffff;
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .mobile-language {
      padding: 25px 0;
      border-top: 1px solid #113d53;

      p {
        color: #ffffff;
      }

      p::before {
        content: "";
        width: 2px;
        height: 25px;
        background-color: #f05e36;
        transform: translateX(-25px);
      }

      p.current-language {
        color: #f05e36;
      }
    }
  }

  .sectionSatu {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    margin-top: 120px;

    .sectionSatuKiri {
      background-color: transparent;

      .text {
        position: static;
        margin-left: 0;

        h1 {
          width: auto;
          height: auto;
          font-size: 3rem;
        }
      }
    }

    .sectionSatuKanan {
      position: static;
      margin-left: 0;
      z-index: 0;

      img {
        height: 200px;
        object-fit: cover;
      }
    }
  }

  .sectionDua {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 50px;
    padding: 25px 0;
    border-top: 1px solid #e5e5e5;

    .sectionDuaKiri {
      width: 100%;

      .detailContact {
        flex-direction: column;

        .kiri {
          width: 100%;

          h6 {
            margin-bottom: 25px;
          }
        }

        .kanan {
          width: 100%;
          margin-bottom: 25px;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .sectionDuaKanan {
      width: 100%;
      border-top: 1px solid #e5e5e5;
      padding: 2rem 0;

      .linkMenujuLinkedln {
        width: 100%;
        justify-content: center;

        a,
        img {
          margin: 0 25px;
        }

        a {
          font-size: 0.9rem;
          margin-right: 0;
        }
      }
    }
  }

  .sectionTiga {
    display: none;
  }

  .sectionLima {
    width: 100%;
    flex-direction: column;
    margin: 0 0 50px 0;
    padding: 0;
    border: 5px solid #f66f4933;
    transform: translateX(0px);

    .stamp {
      padding: 25px 25px 0 25px;

      img {
        display: block;
        width: 10rem;
        float: right;
      }
    }

    form {
      width: 100%;
    }

    .sectionLimaBody {
      padding: 25px;

      h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        height: auto;
        margin: 15px 0 25px 0;
        line-height: 0;
        letter-spacing: 0.3rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .SectionLimaTengah {
      flex-direction: column;
      justify-content: center;

      input.email {
        width: 100%;
        text-align: center;
        margin: 25px 0;
      }

      input.email:hover,
      input.email:focus,
      input.email:active {
        outline: 2px solid #113d53;
      }

      .av-checkbox {
        border-top: 1px solid #e5e5e5;
        color: #113d53;
      }
    }

    .SectionLimaBawah,
    .SectionLimaBawahDua {
      display: none;
    }
  }

  .Footer {
    .container {
      .footerHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 50px 0;
        border-bottom: 1px solid #113d53;

        img {
          width: 12rem;
        }
      }

      .foooterBody {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-top: 1.5px solid transparent;
        border-bottom: 1.5px solid transparent;
        height: auto;
        padding: 3rem 0;

        .footerBodyKiri,
        .footerBodyKanan {
          width: 100%;
        }

        .footerBodyKiri {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          padding: 0;

          .footerBodyKiriOne,
          .footerBodyKiriTwo {
            text-align: center;
          }

          .footerBodyKiriOne {
            padding-right: 0;
          }
        }

        .footerBodyKanan {
          border-top: 1px solid #113d53;
          border-left: 0;
          width: 100%;
          padding: 25px 0;

          h5 {
            margin-left: 0;
            letter-spacing: 0;
            line-height: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 700px) {
  body {
    width: 100%;
    max-width: 700px;
  }

  .birukanan {
    display: none;
  }

  .row {
    width: 100vw;
    overflow-x: hidden;
  }

  .navbar {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px 8px;
    z-index: 200;

    .container-nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 550px;

      .menu-icon-mobile,
      .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        cursor: pointer;
      }

      .menu-icon-mobile {
        svg {
          width: 2rem;
        }
      }

      .logo-mobile {
        img {
          width: 10rem;
          transform: translateY(10px);
        }
      }
    }
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    background-color: #021925;
    width: 95%;
    height: 100vh;
    padding: 15px 25px;
    transform: translateX(-100vw);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: 400; // lebih tinggi daripada navbar

    .x-icon-mobile {
      svg {
        width: 2rem;
        cursor: pointer;
      }
    }

    .menu-mobile-list {
      display: flex;
      flex-direction: column;
      margin: 25px 0;

      a {
        color: #ffffff;
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .mobile-language {
      padding: 25px 0;
      border-top: 1px solid #113d53;

      p {
        color: #ffffff;
      }

      p::before {
        content: "";
        width: 2px;
        height: 25px;
        background-color: #f05e36;
        transform: translateX(-25px);
      }

      p.current-language {
        color: #f05e36;
      }
    }
  }

  .sectionSatu {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    margin-top: 120px;

    .sectionSatuKiri {
      background-color: transparent;

      .text {
        position: static;
        margin-left: 0;

        h1 {
          width: auto;
          height: auto;
          font-size: 3rem;
        }
      }
    }

    .sectionSatuKanan {
      position: static;
      margin-left: 0;
      z-index: 0;

      img {
        height: 200px;
        object-fit: cover;
      }
    }
  }

  .sectionDua {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 50px;
    padding: 25px 0;
    border-top: 1px solid #e5e5e5;

    .sectionDuaKiri {
      width: 100%;

      .detailContact {
        flex-direction: column;

        .kiri {
          width: 100%;

          h6 {
            margin-bottom: 25px;
          }
        }

        .kanan {
          width: 100%;
          margin-bottom: 25px;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .sectionDuaKanan {
      width: 100%;
      border-top: 1px solid #e5e5e5;
      padding: 2rem 0;

      .linkMenujuLinkedln {
        width: 100%;
        justify-content: center;

        a,
        img {
          margin: 0 25px;
        }

        a {
          font-size: 0.9rem;
          margin-right: 0;
        }
      }
    }
  }

  .sectionTiga {
    display: none;
  }

  .sectionLima {
    width: 100%;
    flex-direction: column;
    margin: 0 0 50px 0;
    padding: 0;
    border: 5px solid #f66f4933;
    transform: translateX(0px);

    .stamp {
      padding: 25px 25px 0 25px;

      img {
        display: block;
        width: 10rem;
        float: right;
      }
    }

    form {
      width: 100%;
    }

    .sectionLimaBody {
      padding: 25px;

      h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        height: auto;
        margin: 15px 0 25px 0;
        line-height: 0;
        letter-spacing: 0.3rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .SectionLimaTengah {
      flex-direction: column;
      justify-content: center;

      input.email {
        width: 100%;
        text-align: center;
        margin: 25px 0;
      }

      input.email:hover,
      input.email:focus,
      input.email:active {
        outline: 2px solid #113d53;
      }

      .av-checkbox {
        border-top: 1px solid #e5e5e5;
        color: #113d53;
      }
    }

    .SectionLimaBawah,
    .SectionLimaBawahDua {
      display: none;
    }
  }

  .Footer {
    .container {
      .footerHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 50px 0;
        border-bottom: 1px solid #113d53;

        img {
          width: 12rem;
        }
      }

      .foooterBody {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-top: 1.5px solid transparent;
        border-bottom: 1.5px solid transparent;
        height: auto;
        padding: 3rem 0;

        .footerBodyKiri,
        .footerBodyKanan {
          width: 100%;
        }

        .footerBodyKiri {
          width: 100%;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          padding: 0;

          .footerBodyKiriOne,
          .footerBodyKiriTwo {
            text-align: center;
          }

          .footerBodyKiriOne {
            padding-right: 0;
          }
        }

        .footerBodyKanan {
          border-top: 1px solid #113d53;
          border-left: 0;
          width: 100%;
          padding: 25px 0;

          h5 {
            margin-left: 0;
            letter-spacing: 0;
            line-height: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  body {
    width: 100%;
    max-width: 800px;
  }

  .birukanan {
    display: none;
  }

  .container-fluid {
    padding: 0;
  }

  .row {
    width: 100vw;
    max-width: 800px;
    overflow-x: hidden;
    margin: 0 auto;
  }

  .navbar {
    display: none;
  }

  .nav-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 5px 8px;
    z-index: 200;

    .container-nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 775px;

      .menu-icon-mobile,
      .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        cursor: pointer;
      }

      .menu-icon-mobile {
        svg {
          width: 2rem;
        }
      }

      .logo-mobile {
        img {
          width: 10rem;
          transform: translateY(10px);
        }
      }
    }
  }

  .menu-mobile {
    display: flex;
    flex-direction: column;
    background-color: #021925;
    width: 95%;
    height: 100vh;
    padding: 20px 60px;
    transform: translateX(-100vw);
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
    z-index: 400; // lebih tinggi daripada navbar

    .x-icon-mobile {
      svg {
        width: 2rem;
        cursor: pointer;
      }
    }

    .menu-mobile-list {
      display: flex;
      flex-direction: column;
      margin: 25px 0;

      a {
        color: #ffffff;
        font-size: 1.2rem;
        margin-bottom: 15px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .mobile-language {
      padding: 25px 0;
      border-top: 1px solid #113d53;

      p {
        color: #ffffff;
      }

      p::before {
        content: "";
        width: 2px;
        height: 25px;
        background-color: #f05e36;
        transform: translateX(-25px);
      }

      p.current-language {
        color: #f05e36;
      }
    }
  }

  .sectionSatu {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    margin-top: 120px;

    .sectionSatuKiri {
      background-color: transparent;

      .text {
        position: static;
        margin-left: 0;

        h1 {
          width: auto;
          height: auto;
          font-size: 3rem;
        }
      }
    }

    .sectionSatuKanan {
      position: static;
      margin-left: 0;
      z-index: 0;

      img {
        height: 200px;
        object-fit: cover;
      }
    }
  }

  .sectionDua {
    padding: 0;
    margin-top: 50px;
    padding: 25px 0;
    border-top: 1px solid #e5e5e5;

    .sectionDuaKiri {
      width: 100%;

      .detailContact {
        flex-direction: column;

        .kiri {
          width: 100%;

          h6 {
            margin-bottom: 25px;
          }
        }

        .kanan {
          width: 100%;
          margin-bottom: 25px;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }

    .sectionDuaKanan {
      width: 100%;
      border-top: 1px solid #e5e5e5;
      padding: 2rem 0;

      .linkMenujuLinkedln {
        width: 100%;
        justify-content: center;

        a,
        img {
          margin: 0 25px;
        }

        a {
          font-size: 0.9rem;
          margin-right: 0;
        }
      }
    }
  }

  .sectionTiga {
    display: none;
  }

  .sectionLima {
    width: 100%;
    flex-direction: column;
    margin: 0 0 50px 0;
    padding: 0;
    border: 5px solid #f66f4933;
    transform: translateX(0px);

    .stamp {
      padding: 25px 25px 0 25px;

      img {
        display: block;
        width: 10rem;
        float: right;
      }
    }

    form {
      width: 100%;
    }

    .sectionLimaBody {
      padding: 25px;

      h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        height: auto;
        margin: 15px 0 25px 0;
        line-height: 0;
        letter-spacing: 0.3rem;
      }

      p {
        font-size: 1.1rem;
      }
    }

    .SectionLimaTengah {
      flex-direction: column;
      justify-content: center;

      input.email {
        width: 100%;
        text-align: center;
        margin: 25px 0;
      }

      input.email:hover,
      input.email:focus,
      input.email:active {
        outline: 2px solid #113d53;
      }

      .av-checkbox {
        border-top: 1px solid #e5e5e5;
        color: #113d53;
      }
    }

    .SectionLimaBawah,
    .SectionLimaBawahDua {
      display: none;
    }
  }

  .Footer {
    width: 100%;
  }
}
