html,
body {
  padding: 0;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  color: #0a2939;
  min-width: 100%;
  min-height: 100vh;
}

@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
  }
}

section {
  margin: 50px 0;
}

@media (min-width: 1080px) {
  section {
    margin: 75px 0;
  }
}

h1 {
  font-size: 3rem !important;
  color: #f05e36;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6.25rem !important;
  }
}

h5 {
  font-size: 1.125rem !important;
}

@media (min-width: 768px) {
  h5 {
    font-size: 1.75rem !important;
  }
}

a {
  color: #0a2939 !important;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
  }
}

.birukanan {
  display: none;
  background-color: #0a2939;
  height: 100%;
  width: 7.2rem;
}

@media (min-width: 768px) {
  .birukanan {
    display: block;
  }
}

.navbar {
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 992px) {
  .navbar {
    border-bottom: none;
  }
}

@media (min-width: 992px) {
  .navbar .navbar-brand {
    margin-top: 3.125rem;
  }
}

@media (min-width: 1080px) {
  .navbar .navbar-brand {
    position: absolute;
    top: 0;
    border-right: 1px solid #e5e5e5;
    height: 20rem;
    margin-top: 0;
  }
  .navbar .navbar-brand img {
    margin: 6.25rem 2rem 0 0;
  }
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    width: 100%;
    margin-top: 3.125rem;
  }
}

.navbar .nav-link {
  color: #0a2939;
  font-size: 1.125rem;
  font-weight: 600;
}

@media (min-width: 992px) {
  .navbar .nav-link {
    position: relative;
  }
  .navbar .nav-link:hover {
    opacity: 1;
  }
  .navbar .nav-link::before {
    -webkit-transition: 300ms;
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #f05e36;
  }
  .navbar .nav-link.nav-link-ltr:hover::before, .navbar .nav-link.nav-link-ltr.active::before {
    width: 90%;
  }
  .navbar .nav-link.nav-link-ltr::before {
    width: 0%;
    bottom: -5px;
  }
}

.navbar .dropdownButton {
  text-align: center;
  border: 2px solid #e5e5e5;
  border-radius: 24px;
  width: 10rem;
}

.navbar .dropdown-toggle::after {
  color: #f05e36;
}

#hero .hero-wrapper {
  display: -ms-grid;
  display: grid;
}

#hero .hero-wrapper .hero-text {
  margin-bottom: 25px;
}

#hero .hero-wrapper .hero-banner img {
  width: 100%;
  height: 100%;
}

#hero .hero-wrapper .hero-banner .orange {
  background-color: #f05e36;
  width: 100%;
  height: 20px;
  z-index: 20;
}

@media (min-width: 1080px) {
  #hero .hero-wrapper {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
    position: relative;
  }
  #hero .hero-wrapper.container {
    max-width: 100% !important;
    padding: 0;
  }
  #hero .hero-wrapper .hero-text {
    position: absolute;
    bottom: 0;
    left: 10%;
  }
  #hero .hero-wrapper .hero-banner {
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #hero .hero-wrapper .hero-banner img {
    width: clamp(300px, 100%, 900px);
  }
  #hero .hero-wrapper .hero-banner .orange {
    width: 6.25rem;
    height: 100%;
  }
}

#news-card .category {
  position: relative;
  width: 100%;
}

#news-card .category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#news-card .category ul::-webkit-scrollbar {
  display: none;
}

#news-card .category ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

#news-card .category ul li.active {
  color: #f05e36;
}

#news-card .category ul li:hover {
  color: #f05e36;
}

@media (min-width: 992px) {
  #news-card .category ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
  #news-card .category ul li {
    margin-bottom: 35px;
  }
}

#news-card .card-wrapper {
  display: -ms-grid;
  display: grid;
  gap: 35px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

@media (min-width: 992px) {
  #news-card .card-wrapper {
    -ms-grid-columns: auto (1fr)[3];
        grid-template-columns: auto repeat(3, 1fr);
  }
  #news-card .card-wrapper div:nth-of-type(3) {
    margin-top: 50px;
  }
  #news-card .card-wrapper div:last-child {
    margin-top: 25px;
  }
}

#news-card .card-wrapper .card {
  border: none !important;
  margin-bottom: 35px !important;
  color: #0a2939;
}

#news-card .card-wrapper .card .card-body {
  padding: 0;
}

#news-card .card-wrapper .card .card-body h1 {
  font-size: 3rem !important;
  color: #0a2939;
}

#news-card .card-wrapper .card .card-body p:nth-child(2) {
  color: #f05e36;
}

#news-card .card-wrapper .card.no-image {
  color: white;
  padding: 2rem;
}

#news-card .card-wrapper .card.no-image p {
  color: #f05e36;
  margin-top: 0;
}

#news-card .card-wrapper .card.no-image:first-child {
  background-color: #FDE5DE;
  color: #0a2939;
}

#news-card .card-wrapper .card.no-image:nth-child(2) {
  background-color: #1E5875;
}

#news-card .card-wrapper .card.no-image:last-child {
  background-color: #f05e36;
}

#news-card .card-wrapper .card.no-image:last-child p {
  color: #0a2939;
}

#newsletter {
  border: 10px solid #f66f4933;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 3rem;
  margin: 0rem auto 10rem auto;
}

#newsletter form {
  width: 100%;
}

@media (min-width: 768px) {
  #newsletter form {
    width: 75%;
  }
}

#newsletter .sectionLimaBody h2 {
  height: 81px;
  color: #002f39;
  font-family: Minion;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 10.4px;
  line-height: 80px;
  text-align: center;
}

#newsletter .sectionLimaBody p {
  color: #f66e49;
  font-family: "IBM Plex Sans";
  font-size: 22px;
  letter-spacing: -0.32px;
  line-height: 30px;
}

#newsletter .sectionLimaBody .SectionLimaTengah {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

#newsletter .sectionLimaBody .SectionLimaTengah .email {
  padding: 0.5rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #f66f4933;
}

@media (min-width: 992px) {
  #newsletter .sectionLimaBody .SectionLimaTengah .email {
    border-bottom: none;
  }
}

#newsletter .sectionLimaBody .SectionLimaTengah button {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  color: #0a2939;
}

@media (min-width: 992px) {
  #newsletter .sectionLimaBody .SectionLimaTengah {
    border-bottom: 1px solid #f66f4933;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#newsletter .sectionLimaBody .SectionLimaBawah input {
  margin: 2rem 0rem;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #e8d4cf;
  outline: none;
}

.Footer {
  width: 100%;
  background-color: #0a2939;
  color: white;
  padding: 4.688rem 0;
}

.Footer .footerHeader {
  text-align: center;
}

.Footer .footerHeader img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

.Footer .footerBody {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  margin-top: 75px;
}

@media (min-width: 1080px) {
  .Footer .footerBody {
    border-top: 1px solid #103A4F;
    border-bottom: 1px solid #103A4F;
    max-width: 992px;
  }
}

.Footer .footerBody div:first-child {
  border-top: 1px solid #103A4F;
}

.Footer .footerBody div:first-child li:last-child {
  margin-bottom: 0;
}

@media (min-width: 1080px) {
  .Footer .footerBody div:first-child {
    border-top: none;
  }
}

.Footer .footerBody div:last-child {
  text-align: center;
  margin: 35px auto;
}

@media (min-width: 1080px) {
  .Footer .footerBody div:last-child {
    border-left: 1px solid #103A4F;
    margin: 0;
  }
}

.Footer .footerBody div:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1080px) {
  .Footer .footerBody div:last-child a {
    margin: 35px;
  }
}

.Footer .footerBody div:last-child a p {
  color: white;
  margin: auto 0 auto 15px;
}

.Footer .footerBody div:nth-child(2) {
  margin-top: 0;
  border-bottom: 1px solid #103A4F;
}

@media (min-width: 1080px) {
  .Footer .footerBody div:nth-child(2) {
    border-bottom: none;
  }
}

.Footer .footerBody div li {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  margin: 25px 0;
  text-transform: uppercase;
}

@media (min-width: 1080px) {
  .Footer .footerBody div li {
    text-align: left;
  }
}

@media (min-width: 1080px) {
  .Footer .footerBody {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

#plus .plus-alt {
  text-align: center;
  color: #f05e36;
}

#plus .plus-alt img {
  width: 35px;
  height: 35pxs;
  -webkit-filter: invert(49%) sepia(81%) saturate(2827%) hue-rotate(340deg) brightness(97%) contrast(93%);
          filter: invert(49%) sepia(81%) saturate(2827%) hue-rotate(340deg) brightness(97%) contrast(93%);
  margin-bottom: 25px;
}
/*# sourceMappingURL=news.css.map */