@import "mixins";
@import "variables";

html,
body {
    padding: 0;
    font-family: $primaryFont;
    font-size: 14px;
    color: $fontPrimaryColor;
    min-width: 100%;
    min-height: 100vh;

    @include breakpoint(md) {
        font-size: 16px;
    }
}

section {
    margin: 50px 0;

    @include breakpoint(lg) {
        margin: 75px 0;
    }
}

h1 {
    font-size: 3rem !important;
    color: $red;

    @include breakpoint(md) {
        font-size: 6.25rem !important;
    }
}

h5 {
    font-size: 1.125rem !important;

    @include breakpoint(md) {
        font-size: 1.75rem !important;
    }
}

a {
    color: $fontPrimaryColor !important;
}

.wrapper {
    display: grid;
    min-width: 100%;
    @include breakpoint(md) {
        grid-template-columns: 1fr auto;
    }
}

.birukanan {
    display: none;
    background-color: $fontPrimaryColor;
    height: 100%;
    width: 7.2rem;

    @include breakpoint(md) {
        display: block;
    }
}

.navbar {
    border-bottom: 1px solid $muted;

    @include breakpoint(mlg) {
        border-bottom: none;
    }
    .navbar-brand {
        @include breakpoint(mlg) {
            margin-top: 3.125rem;
        }

        @include breakpoint(lg) {
            position: absolute;
            top: 0;
            border-right: 1px solid $muted;
            height: 20rem;
            margin-top: 0;

            img {
                margin: 6.25rem 2rem 0 0;
            }
        }
    }

    .navbar-nav {
        @include breakpoint(md) {
            width: 100%;
            margin-top: 3.125rem;
        }
    }

    .nav-link {
        color: $fontPrimaryColor;
        font-size: 1.125rem;
        font-weight: 600;

        @include breakpoint(mlg) {
            position: relative;

            &:hover {
                opacity: 1;
            }

            &::before {
                transition: 300ms;
                height: 3px;
                content: "";
                position: absolute;
                background-color: $red;
            }

            &.nav-link-ltr {
                &:hover,
                &.active {
                    &::before {
                        width: 90%;
                    }
                }
                &::before {
                    width: 0%;
                    bottom: -5px;
                }
            }
        }
    }

    .dropdownButton {
        text-align: center;
        border: 2px solid $muted;
        border-radius: 24px;
        width: 10rem;
    }

    .dropdown-toggle::after {
        color: $red;
    }
}

#hero {
    .hero-wrapper {
        display: grid;

        .hero-text {
            margin-bottom: 25px;
        }

        .hero-banner {
            img {
                width: 100%;
                height: 100%;
            }

            .orange {
                background-color: $red;
                width: 100%;
                height: 20px;
                z-index: 20;
            }
        }

        @include breakpoint(lg) {
            grid-template-columns: auto 1fr;
            position: relative;
            &.container {
                max-width: 100% !important;
                padding: 0;
            }
            .hero-text {
                position: absolute;
                bottom: 0;
                left: 10%;
            }

            .hero-banner {
                text-align: right;
                justify-content: flex-end;
                display: flex;

                img {
                    width: clamp(300px, 100%, 900px);
                }

                .orange {
                    width: 6.25rem;
                    height: 100%;
                }
            }
        }
    }
}

#news-card {
    .category {
        position: relative;
        width: 100%;
        ul {
            display: flex;
            list-style-type: none;
            padding-left: 0;
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar {
                display: none;
            }

            li {
                flex: 0 0 auto;
                margin-right: 15px;
                text-transform: uppercase;
                cursor: pointer;
                font-weight: 600;

                &.active {
                    color: $red;
                }

                &:hover {
                    color: $red;
                }
            }

            @include breakpoint(mlg) {
                flex-direction: column;
                text-align: right;

                li {
                    margin-bottom: 35px;
                }
            }
        }
    }
    .card-wrapper {
        display: grid;
        gap: 35px;
        grid-template-rows: auto;

        @include breakpoint(mlg) {
            grid-template-columns: auto repeat(3, 1fr);

            div {
                &:nth-of-type(3) {
                    margin-top: 50px;
                }

                &:last-child {
                    margin-top: 25px;
                }
            }
        }

        .card {
            border: none !important;
            margin-bottom: 35px !important;
            color: $fontPrimaryColor;

            .card-body {
                padding: 0;
                h1 {
                    font-size: 3rem !important;
                    color: $fontPrimaryColor;
                }

                p {
                    &:nth-child(2) {
                        color: $red;
                    }
                }
            }

            &.no-image {
                color: white;
                padding: 2rem;

                p {
                    color: $red;
                    margin-top: 0;
                }

                &:first-child {
                    background-color: $lightRed;
                    color: $fontPrimaryColor;
                }

                &:nth-child(2) {
                    background-color: $navyBlue;
                }

                &:last-child {
                    background-color: $red;
                    p {
                        color: $fontPrimaryColor;
                    }
                }
            }
        }
    }
}

#newsletter {
    border: 10px solid #f66f4933;
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    margin: 0rem auto 10rem auto;
    form {
        width: 100%;

        @include breakpoint(md) {
            width: 75%;
        }
    }

    .sectionLimaBody {
        h2 {
            height: 81px;

            color: #002f39;
            font-family: Minion;
            font-size: 26px;
            font-weight: bold;
            letter-spacing: 10.4px;
            line-height: 80px;
            text-align: center;
        }

        p {
            color: #f66e49;
            font-family: "IBM Plex Sans";
            font-size: 22px;
            letter-spacing: -0.32px;
            line-height: 30px;
        }

        .SectionLimaTengah {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;

            .email {
                padding: 0.5rem;
                border: none;
                outline: none;
                border-bottom: 1px solid $mutedRed;

                @include breakpoint(mlg) {
                    border-bottom: none;
                }
            }

            button {
                border: none;
                outline: none;
                background-color: transparent;
                font-weight: bold;
                color: $fontPrimaryColor;
            }

            @include breakpoint(mlg) {
                border-bottom: 1px solid $mutedRed;
                flex-direction: row;
            }
        }

        .SectionLimaBawah {
            input {
                margin: 2rem 0rem;
                width: 100%;
                border-top: none;
                border-left: none;
                border-right: none;
                padding-bottom: 1.6rem;
                border-bottom: 1px solid #e8d4cf;
                outline: none;
            }
        }
    }
}

.Footer {
    width: 100%;
    background-color: $fontPrimaryColor;
    color: white;
    padding: 4.688rem 0;

    .footerHeader {
        text-align: center;
        img {
            transform: scale(1.1);
            opacity: 0.8;
        }
    }

    .footerBody {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        max-width: 100%;
        margin-top: 75px;

        @include breakpoint(lg) {
            border-top: 1px solid $mutedBlue;
            border-bottom: 1px solid $mutedBlue;
            max-width: 992px;
        }

        div {
            &:first-child {
                border-top: 1px solid $mutedBlue;

                li {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                @include breakpoint(lg) {
                    border-top: none;
                }
            }

            &:last-child {
                text-align: center;
                margin: 35px auto;
                @include breakpoint(lg) {
                    border-left: 1px solid $mutedBlue;
                    margin: 0;
                }

                a {
                    display: flex;
                    align-items: center;

                    @include breakpoint(lg) {
                        margin: 35px;
                    }

                    p {
                        color: white;
                        margin: auto 0 auto 15px;
                    }
                }
            }

            &:nth-child(2) {
                margin-top: 0;
                border-bottom: 1px solid $mutedBlue;

                @include breakpoint(lg) {
                    border-bottom: none;
                }
            }

            li {
                list-style-type: none;
                padding-left: 0;
                text-align: center;
                margin: 25px 0;
                text-transform: uppercase;

                @include breakpoint(lg) {
                    text-align: left;
                }
            }
        }

        @include breakpoint(lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

#plus {
    .plus-alt {
        text-align: center;
        color: $red;

        img {
            width: 35px;
            height: 35pxs;
            filter: $redFilter;
            margin-bottom: 25px;
        }
    }
}
