.container .navbar-nav {
  z-index: 1;
}

.sectionBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
}

.containerBack {
  text-align: center;
  margin-top: 4.0625rem;
  margin-bottom: 2.5625rem;
  position: relative;
  overflow: hidden;
  font-family: IBM Plex Sans;
}

.containerBack span {
  color: #f66e49;
  font-size: 0.75rem;
  margin-left: 1rem;
  text-transform: uppercase;
  line-height: 0.9375rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.containerBack .rotation-wrapper-outer {
  display: table;
  width: 100%;
  position: absolute;
  top: 0.4rem;
  right: 4.6rem;
}

.containerBack .rotation-wrapper-inner {
  height: 0;
}

.containerBack img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  white-space: nowrap;
  margin: 0 auto;
  cursor: pointer;
  width: 13px;
}

.containerCard {
  width: 320px;
  margin-right: 8.9%;
  padding-top: 0.7rem;
}

.containerCard .containerImage {
  position: relative;
  display: block;
}

.containerCard .containerImage img {
  height: 320px;
  width: 320px;
}

.containerCard .containerImage::after {
  content: "";
  width: 2px;
  background-color: #f05e36;
  height: 4.8rem;
  position: absolute;
  bottom: -1.98rem;
  right: 2.5rem;
}

.containerCard .date {
  color: #0a2939;
  font-family: Minion Display;
  font-size: 3.4rem;
  line-height: 45px;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  letter-spacing: -0.79px;
}

.containerCard .subTitle {
  font-size: 0.9rem;
  color: #f05e36;
  font-family: IBM Plex Sans;
}

.containerCard .title {
  font-size: 1.15rem;
  color: #0a2939;
  margin-bottom: 0;
  line-height: 1.6rem;
  font-family: IBM Plex Sans;
}

.containerNews {
  font-family: IBM Plex Sans;
}

.containerNews .newsTitle {
  color: #0a2939;
  line-height: 2.6125rem;
  margin-bottom: 1.275rem;
  font-size: 2rem;
  letter-spacing: -0.44px;
}

.containerNews .newsAuthor {
  font-size: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #e3e3e3;
  margin-bottom: 1.9375rem;
  color: #3891a5;
  line-height: 1.875rem;
  font-weight: 300;
  letter-spacing: -0.1px;
}

.containerNews .containerNewsAllText {
  line-height: 1.875rem;
  color: #0a2939;
  font-weight: 300;
  margin-bottom: 3rem;
}

.containerNews .visitWebsite {
  font-size: 1rem;
  line-height: 1.875rem;
  color: #f05e36;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.containerNews .visitWebsite:hover {
  color: #0a2939;
}

.containerNews .dividerVisitWebsite {
  margin-top: 3.125rem;
  height: 2px;
  background-color: #e3e3e3;
}

.sectionSatu .sectionSatuKanan img {
  width: 1019px;
}

@media only screen and (min-width: 1400px) {
  .sectionSatu .sectionSatuKiri .text {
    top: 23.875rem;
  }
  .sectionLima {
    margin-top: 5.4375rem;
  }
  .sectionSatu .sectionSatuKanan img {
    width: 1019px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1399.98px) {
  .containerBack {
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 720px) {
  .containerBack {
    text-align: left;
  }
  .containerBack span {
    margin-left: 4.5rem;
  }
  .containerBack img {
    margin: 0;
  }
  .containerBack .rotation-wrapper-outer {
    left: 3rem;
    right: unset;
  }
  .sectionBody {
    display: block;
    padding: 0;
  }
  .containerCard {
    padding-top: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 100%;
  }
  .containerCard .date {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: -0.47px;
  }
  .containerCard .subTitle {
    margin-bottom: 0;
    font-size: 1rem;
  }
  .containerCard .containerImage::after {
    display: none;
    visibility: hidden;
  }
  .containerCard .containerImage img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    height: auto;
  }
  .containerNews .newsTitle {
    font-size: 1.875rem;
    margin-bottom: 2.3125rem;
  }
  .containerNews .newsAuthor {
    margin-bottom: 1.6875rem;
    line-height: 1.125rem;
  }
  .containerNews .containerNewsAllText {
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.09px;
    font-size: 14px;
  }
  .containerNews .visitWebsite {
    margin-bottom: 3rem;
  }
  .containerNews .dividerVisitWebsite {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 373px) {
  .sectionBody .containerCard {
    width: 100%;
  }
  .sectionBody .containerCard .containerImage img {
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=Halaman5.css.map */