.sectionBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.6rem;
}

.sectionBody .containerCategories {
  list-style: none;
  text-align: right;
  padding: 0;
}

.sectionBody .containerCategories li {
  color: #0a2939;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  cursor: pointer;
}

.sectionBody .containerCategories li.active {
  color: #f05e36;
}

.sectionBody .containerCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 75rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100rem;
  list-style: none;
  margin-bottom: 0;
}

.sectionBody .containerCards .item {
  width: 320px;
  margin-bottom: 4.5rem;
}

.sectionBody .containerCards .item.center .containerImage::after {
  bottom: 7rem;
}

.sectionBody .containerCards .item.top-center {
  margin-top: 6.5rem;
}

.sectionBody .containerCards .item.top-right {
  margin-top: 3.5rem;
}

.sectionBody .containerCards .item .containerImage {
  position: relative;
  display: block;
  z-index: -1;
}

.sectionBody .containerCards .item .containerImage img {
  height: 320px;
  width: 320px;
}

.sectionBody .containerCards .item .containerImage::after {
  content: "";
  width: 2px;
  background-color: #f05e36;
  height: 4.8rem;
  position: absolute;
  bottom: -1.98rem;
  right: 2rem;
}

.sectionBody .containerCards .item .date {
  color: #0a2939;
  font-family: Minion;
  font-size: 3.4rem;
  line-height: 45px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.sectionBody .containerCards .item .subTitle {
  font-size: 0.9rem;
  color: #f05e36;
}

.sectionBody .containerCards .item .title {
  font-size: 1.15rem;
  color: #0a2939;
}

.sectionBody .containerCards .item.quotes {
  padding: 2.5rem;
}

.sectionBody .containerCards .item.quotes .quotes {
  font-family: Minion;
  color: #0a2939;
  font-size: 2.27rem;
  line-height: 2.5rem;
}

.sectionBody .containerCards .item.quotes .subQuotes {
  margin-bottom: 0.7rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  color: #f05e36;
  font-weight: bold;
}

.sectionBody .containerCards .item.quotes.pink {
  background-color: #f66f4933;
  color: #0a2939;
}

.sectionBody .containerCards .item.quotes.orange {
  background-color: #f05e36;
  color: white;
}

.sectionBody .containerCards .item.quotes.orange .subQuotes {
  color: #0a2939;
}

.sectionBody .containerCards .item.quotes.orange .quotes {
  color: white;
}

.sectionBody .containerCards .item.quotes.darkBlue {
  background-color: #0a2939;
}

.sectionBody .containerCards .item.quotes.darkBlue .subQuotes {
  color: #f05e36;
}

.sectionBody .containerCards .item.quotes.darkBlue .quotes {
  color: white;
}

.sectionAddActuals {
  color: #f05e36;
  text-align: center;
  margin-top: -3rem;
}

.sectionAddActuals .icon-plus {
  -webkit-filter: invert(56%) sepia(34%) saturate(6580%) hue-rotate(339deg) brightness(96%) contrast(96%);
          filter: invert(56%) sepia(34%) saturate(6580%) hue-rotate(339deg) brightness(96%) contrast(96%);
  width: 24px;
  height: 24px;
}

.sectionAddActuals p {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 3.1rem;
  letter-spacing: 2px;
}

@media only screen and (min-width: 0px) and (max-width: 1184px) {
  .sectionAddActuals {
    margin-top: 0;
    position: relative;
    z-index: -1;
    margin-top: -1rem;
  }
  .sectionBody {
    margin-top: 2rem;
    display: block;
  }
  .sectionBody .containerCategories {
    position: relative;
    z-index: -1;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .sectionBody .containerCategories::after {
    content: "";
    position: absolute;
    background: transparent;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(white));
    background: linear-gradient(90deg, transparent 0%, white 100%);
    right: 0;
    height: 60px;
    width: 20%;
  }
  .sectionBody .containerCategories li {
    margin-right: 1rem;
    display: inline-block;
  }
  .sectionBody .containerCards {
    height: auto;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .sectionBody .containerCards .item .date {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .sectionBody .containerCards .item .subTitle {
    margin-bottom: 0.8rem;
  }
  .sectionBody .containerCards .item .containerImage::after {
    display: none;
    visibility: hidden;
  }
  .sectionBody .containerCards .item .containerImage img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .sectionBody .containerCards .item.top-center {
    margin-top: 0;
  }
  .sectionBody .containerCards .item.top-right {
    margin-top: 0;
  }
}

@media only screen and (min-width: 717px) {
  .sectionBody .containerCategories {
    overflow-x: auto;
  }
}
/*# sourceMappingURL=Halaman4.css.map */