@font-face {
  font-family: "IBMPlexSans";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans.ttf");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-family: "IBMPlexSans-Light";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Light.ttf");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Butler-Light";
  src: url("../../assets/fonts/webfont-butler/Butler-Light.ttf");
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/fonts/webfont-butler/Butler.ttf");
}
@font-face {
  font-family: "Minion-DisplayItalic";
  src: url("../../assets/fonts/webfont-minion/Minion-DisplayItalic.ttf");
}
@font-face {
  font-family: "Minion-Bold";
  src: url("../../assets/fonts/webfont-minion/Minion-Bold.ttf");
}
.container .navbar-nav {
  z-index: 2;
}

.sectionBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.6rem;
}
.sectionBody .containerCategories {
  list-style: none;
  text-align: right;
  font-family: IBM Plex Sans;
  padding: 0;
  width: 123px;
}
.sectionBody .containerCategories li {
  color: #0a2939;
  margin-bottom: 2.3125rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-family: IBM Plex Sans;
  font-weight: 500;
  line-height: 15px;
}
.sectionBody .containerCategories li.active {
  color: #f05e36;
}
.sectionBody .containerCategories li:hover {
  color: #f05e36;
}
.sectionBody .containerCards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 80rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100rem;
  list-style: none;
  margin-bottom: 0;
  padding-left: 2.6125rem;
}
.sectionBody .containerCards .item {
  width: 314px;
  margin-bottom: 4.5rem;
}
.sectionBody .containerCards .item.center .containerImage::after {
  bottom: 5.5rem;
}
.sectionBody .containerCards .item.top-center {
  margin-top: 6.5rem;
}
.sectionBody .containerCards .item.top-right {
  margin-top: 3.5rem;
}
.sectionBody .containerCards .item .containerImage {
  position: relative;
  display: block;
}
.sectionBody .containerCards .item .containerImage img {
  width: 314px;
}
.sectionBody .containerCards .item .containerImage::after {
  content: "";
  width: 2px;
  background-color: #f05e36;
  height: 4.8rem;
  position: absolute;
  bottom: -1.98rem;
  right: 2.5rem;
}
.sectionBody .containerCards .item .date {
  color: #0a2939;
  font-size: 3.4rem;
  line-height: 45px;
  margin-top: 1.6rem;
  font-family: Minion Display;
  margin-bottom: 1.5rem;
  letter-spacing: -0.79px;
}
.sectionBody .containerCards .item .subTitle {
  font-size: 0.9rem;
  font-family: IBM Plex Sans;
  color: #f05e36;
}
.sectionBody .containerCards .item .title {
  font-size: 1.15rem;
  color: #0a2939;
  margin-bottom: 0;
  line-height: 1.6rem;
  font-weight: 500;
  font-family: IBM Plex Sans;
  letter-spacing: -0.26px;
}
.sectionBody .containerCards .item.quotes {
  padding: 2.5rem 1.8375rem;
}
.sectionBody .containerCards .item.quotes .quotes {
  font-family: Butler;
  color: #0a2939;
  font-size: 2.27rem;
  font-weight: 300;
  line-height: 2.5rem;
  letter-spacing: -0.53px;
}
.sectionBody .containerCards .item.quotes .subQuotes {
  font-family: IBM Plex Sans;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  color: #f05e36;
  font-weight: bold;
}
.sectionBody .containerCards .item.quotes.pink {
  background-color: #f66f4933;
  color: #0a2939;
}
.sectionBody .containerCards .item.quotes.orange {
  background-color: #f05e36;
  color: white;
}
.sectionBody .containerCards .item.quotes.orange .subQuotes {
  color: #0a2939;
}
.sectionBody .containerCards .item.quotes.orange .quotes {
  color: white;
}
.sectionBody .containerCards .item.quotes.darkBlue {
  background-color: #1e5875;
}
.sectionBody .containerCards .item.quotes.darkBlue .subQuotes {
  color: #f66e49;
}
.sectionBody .containerCards .item.quotes.darkBlue .quotes {
  color: white;
}

.sectionAddActuals {
  color: #f05e36;
  text-align: center;
  margin-top: -8rem;
  position: relative;
}
.sectionAddActuals .icon-plus {
  -webkit-filter: invert(56%) sepia(34%) saturate(6580%) hue-rotate(339deg) brightness(96%) contrast(96%);
          filter: invert(56%) sepia(34%) saturate(6580%) hue-rotate(339deg) brightness(96%) contrast(96%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.sectionAddActuals p {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 3.1rem;
  font-family: IBM Plex Sans;
  letter-spacing: 2px;
}
.sectionAddActuals p span {
  cursor: pointer;
}

.sectionOne .contentRight img {
  width: 1019px;
}

.container .sectionFive {
  margin-top: 2rem;
}
/*# sourceMappingURL=Halaman4.css.map */