.sectionBody {
  display: flex;
  margin-top: 4.6rem;
  .containerCategories {
    list-style: none;
    text-align: right;
    padding: 0;
    li {
      color: #0a2939;
      padding-bottom: 2rem;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 1.5px;
      font-weight: 500;
      cursor: pointer;
      &.active {
        color: #f05e36;
      }
    }
  }
  .containerCards {
    display: flex;
    flex-flow: column;
    width: 75rem;
    flex-wrap: wrap;
    height: 100rem;
    list-style: none;
    margin-bottom: 0;
    .item {
      width: 320px;
      margin-bottom: 4rem;
      &.center {
        .containerImage {
          &::after {
            bottom: 7rem;
          }
        }
      }
      &.top-center {
        margin-top: 6.5rem;
      }
      &.top-right {
        margin-top: 3.5rem;
      }
      .containerImage {
        position: relative;
        display: block;
        img {
          height: 320px;
          width: 320px;
        }
        &::after {
          content: "";
          width: 2px;
          background-color: #f05e36;
          height: 4.8rem;
          position: absolute;
          bottom: -1.98rem;
          right: 2rem;
        }
      }
      .date {
        color: #0a2939;
        font-family: Minion;
        font-size: 3rem;
        line-height: 29px;
        margin-top: 2rem;
        margin-bottom: 1.8rem;
      }
      .subTitle {
        font-size: 0.9rem;
        color: #f05e36;
      }
      .title {
        font-size: 1.18rem;
        color: #0a2939;
      }
      &.quotes {
        padding: 2.5rem;
        .quotes {
          font-family: Minion;
          color: #0a2939;
          font-size: 2.5rem;
          line-height: 2.4rem;
        }
        .subQuotes {
          margin-bottom: 0.7rem;
          text-transform: uppercase;
          font-size: 0.8rem;
          letter-spacing: 1.5px;
          color: #f05e36;
          font-weight: bold;
        }
        &.pink {
          background-color: #f66f4933;
          color: #0a2939;
        }
        &.orange {
          background-color: #f05e36;
          color: white;
          .subQuotes {
            color: #0a2939;
          }
          .quotes {
            color: white;
          }
        }
        &.darkBlue {
          background-color: #0a2939;
          .subQuotes {
            color: #f05e36;
          }
          .quotes {
            color: white;
          }
        }
      }
    }
  }
}

.sectionAddActuals {
  color: #f05e36;
  text-align: center;
  .icon-plus {
    filter: invert(56%) sepia(34%) saturate(6580%) hue-rotate(339deg)
      brightness(96%) contrast(96%);
    width: 24px;
    height: 24px;
    margin-bottom: 1.3rem;
  }
  p {
    text-transform: uppercase;
  }
}
// @media only screen and (min-device-width: 1400px) {

// }

@media only screen and (min-device-width: 0px) and (max-device-width: 991.98px) {
  .sectionBody {
    margin-top: 2rem;
    display: block;
    .containerCategories {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        background: transparent;
        background: linear-gradient(90deg, transparent 0%, white 100%);
        right: 0;
        height: 60px;
        width: 20%;
      }
      display: flex;
      overflow-x: auto;
      li {
        margin-right: 1rem;
      }
    }
    .containerCards {
      height: auto;
      width: auto;
      align-items: center;
      padding: 0;
    }
    .containerCards {
      .item {
        width: 100%;
        .containerImage {
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        &.top-center {
          margin-top: 0;
        }
        &.top-right {
          margin-top: 0;
        }
      }
    }
  }
}
