	@font-face /*perintah untuk memanggil font eksternal*/
  	{
    	font-family: 'IBM Plex Sans'; /*memberikan nama bebas untuk font*/
    	src: url('asset\dist\Fonts\webfont-ibm-plex.ttf');

    	font-family: 'Butler Light';
  		src: url('asset\dist\Fonts\webfont-butler\Butler-Light.ttf');/*memanggil file font eksternalnya di folder nexa*/
  	}

		// Breakpoint Or Responsive Setting

    // X-Small devices (portrait phones, less than 576px)
	// No media query for `xs` since this is the default in Bootstrap

	// Small devices (landscape phones, 576px and up)
	@media (max-width: 575.98px) {
		img.img-fluid {
			display: none;
		}
	}

	@media (min-width: 576px) and (max-width: 767.98px) {

	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) and (max-width: 991.98px) { ... }

	// Large devices (desktops, 992px and up)
	@media (min-width: 992px) and (max-width: 1199.98px) { ... }

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {


	}