@font-face {
  font-family: "IBMPlexSans";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans.ttf");
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Medium.ttf");
}

.cookies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.cookies .cookiesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 352px;
  padding: 0 110px 40px 110px;
  font-family: "IBMPlexSans";
  background-color: #f05e36;
}

.cookies .cookiesContainer .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 46.04px;
  padding-bottom: 15px;
}

.cookies .cookiesContainer .title h1 {
  color: #ffffff;
  font-family: "IBMPlexSans-SemiBold";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.29px;
  text-transform: uppercase;
}

.cookies .cookiesContainer span.line {
  width: 100%;
  height: 1px;
  background-color: #f78b6e;
  z-index: 1200;
}

.cookies .cookiesContainer .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 252px;
  padding-top: 15px;
}

.cookies .cookiesContainer .detail .cookies-left {
  height: 192px;
}

.cookies .cookiesContainer .detail .cookies-left p, .cookies .cookiesContainer .detail .cookies-left span {
  width: 800px;
  height: 26px;
  color: #ffffff;
  font-family: "IBMPlexSans";
  font-size: 16px;
  letter-spacing: -0.24px;
  line-height: 26px;
}

.cookies .cookiesContainer .detail .cookies-left p span#read-more, .cookies .cookiesContainer .detail .cookies-left span span#read-more {
  display: none;
}

.cookies .cookiesContainer .detail .cookies-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.cookies .cookiesContainer .detail .cookies-right button {
  color: #ffffff;
  font-family: "IBMPlexSans-Medium";
  background-color: #f05e36;
  height: 48px;
  width: 176px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 0 8px;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

.cookies .cookiesContainer .detail .cookies-right :hover {
  background-color: #ffffff;
  color: #0a2939;
}
/*# sourceMappingURL=page-9.css.map */