@import "../page-9/page9-center";

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1160.98px) {
    .Footer {
      background-color: #021925;
      height: 40rem;
  
      .container {
        .footerHeader {
          img {
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 25%;
            padding-top: 3.9375rem;
            padding-bottom: 6rem;
          }
        }
  
        .foooterBody {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 70%;
          margin: 0 auto;
          border-bottom: 1.5px solid #113d53;
          border-top: 1.5px solid #113d53;
  
          .footerBodyLeft {
            display: flex;
            width: 50%;
            height: 10rem;
            margin-right: 2rem;
            align-items: center;
            border-right: 1.5px solid #113d53;
            justify-content: start;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-align-last: start;
            // border-top: 1.5px solid #113d53;
            padding-top: 1.9375rem;
            // border-bottom: 1.5px solid #113d53;
  
            li {
              color: #ffffff;
              font-family: $ibmLight;
              font-size: 12px;
              font-weight: 500;
              letter-spacing: 0.5px;
              line-height: 15px;
              text-align: center;
              text-transform: uppercase;
              padding-bottom: 1.5rem;
              list-style: none;
            }
  
            .footerBodyLeftOne{
              padding-right: 10rem;
            }
          }
  
          .footerBodyRight {
            flex-direction: row;
  
            a {
              color: #113d53 !important;
              text-decoration: none;
            }
  
            img {
              padding-right: 1rem;
            }
  
            h5 {
              display: inline-block;
              color: #ffffff;
              font-family: $ibmLight;
              font-size: 15px;
              letter-spacing: -0.22px;
              line-height: 19.5px;
            }
          }
        }
      }
    }
  
    .container {
      max-width: $maxWidth;
    }
  
    .navbar-light {
      .navbar-nav {
        .nav-item {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          .nav-link {
            padding-right: 0;
            padding-left: 0;
            color: #ffffff;
            &:hover {
              border-bottom: #f05e36 2px solid;
            }
          }
        }
      }
    }
  
    .navbar-light {
      .navbar-toggler {
        color: #ffffff;
        border: none;
      }
    }
  
    .navbar {
      margin-top: 1.25rem;
    }
  
    .navbar-collapse {
      justify-content: flex-start;
      padding-left: 20%;
    }
  
    .drop {
      .btn-group {
        margin-top: 0;
        margin-left: 40%;
      }
    }
  
    .section-1 {
      background-size: cover;
      padding-left: 0;
      padding-right: 0;
      margin: 0;
  
      .sett-line-section-1-top {
        justify-content: flex-start;
        width: 100%;
        padding-left: 17%;
        padding-bottom: 0;
        margin-bottom: 0px;
        margin-top: -5.625rem;
  
        .line-section-1-top {
          border-right-width: 0.125rem;
          border-right-style: solid;
          border-color: white;
          height: 7.5rem;
          display: inline-block;
        }
  
        .une-approche-globale {
          margin-top: 1rem;
          height: 12.5rem;
          width: 61.8125rem;
          color: #ffffff;
          font-family: $butlerLight;
          font-size: 6.25rem;
          font-weight: 300;
          letter-spacing: -0.091875rem;
          line-height: 6.25rem;
          text-align: left;
          margin-left: 5rem;
          margin-right: 20%;
        }
      }
  
      .sett_img {
        display: flex !important;
        width: 35%;
        justify-content: center;
        margin-bottom: 0;
  
        .logo-logo-v-1-copy-4 {
          height: 9.5rem;
          width: 29.125rem;
          display: block;
          padding-top: 0;
          margin-top: 0;
  
          padding-bottom: 0px;
          padding-right: 4rem;
          padding-left: 4rem;
        }
      }
  
      ul {
        height: auto;
        width: 100%;
  
        li {
          color: #ffffff;
          font-family: $ibmLight;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: -0.01625rem;
          line-height: 1.4375rem;
          margin-left: 0;
  
          .ml-auto {
            float: right;
          }
  
          a {
          }
        }
  
        li.dropdown {
          box-sizing: border-box;
          height: 3rem;
          width: 10.9375rem;
          border: 0.125rem solid #e5e5e5;
          border-radius: 1.5rem;
          margin-left: 6.25rem;
          margin-right: 0;
        }
  
        li.nav-item {
          margin-left: 1rem;
          svg {
            width: 30px;
            margin-top: 2rem;
          }
          .nav-link,
          button span,
          .dropdown-item {
            font-family: $ibmSemiBold;
            font-weight: 600;
            font-size: 1rem;
          }
        }
      }
  
      .sett-line-section-1 {
        justify-content: flex-start;
        padding-left: 17%;
        width: 100%;
  
        .line-section-1 {
          border-right-width: 0.125rem;
          border-right-style: solid;
          border-color: white;
          height: 3.8125rem;
          display: inline-block;
        }
      }
  
      .text-title {
        margin-bottom: 3.125rem;
  
        .une-approche-globale {
          height: 12.5rem;
          color: #ffffff;
          font-family: $butlerLight;
          font-size: 5rem;
          font-weight: 300;
          letter-spacing: -0.091875rem;
          line-height: 6.25rem;
          text-align: left;
          margin-left: 5rem;
          padding-right: 20%;
        }
      }
  
      .sett_arrow_section-1 {
        justify-content: flex-start;
        padding-left: 17%;
        width: 100%;
        margin-bottom: -3.75rem;
      }
    }
  
    .section-2 {
      .content-left {
        h1 {
          margin-bottom: 3.125rem;
          font-family: $ibmMedium;
          color: $color4;
          letter-spacing: -0.022rem;
          line-height: 2.5rem;
          width: auto;
          height: 11.25rem;
          margin-top: 6.438rem;
          font-size: 1.5rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: auto;
          margin-top: auto;
          padding-bottom: 1.5rem;
          padding-top: 5rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
  
        ul.dashed {
          list-style-type: none;
          font-family: $butlerLight;
          padding-left: 0.75rem;
          margin-left: 2rem;
          margin-right: auto;
          padding-right: 1.5rem;
          padding-left: 2.25rem;
          margin-bottom: auto;
          margin-top: 1.875rem;
          padding-top: 6.25rem;
        }
  
        ul.dashed > li {
          text-indent: -20px;
          font-size: 2rem;
          color: $color4;
          line-height: 3rem;
          margin-bottom: 1.4rem;
        }
  
        ul.dashed > li:before {
          content: "-";
          text-indent: -20px;
          color: $color3;
          margin-right: 2.1rem;
        }
  
        ul.dashed :hover {
          color: $color3;
        }
  
        .sett-line-section-2 {
          width: 100%;
          height: auto;
          display: flex;
          padding-left: 50%;
          padding-top: 8%;
          position: relative;
          span {
            display: inline-block;
            height: 52px;
            color: #f05e36;
            border-right: 2px solid #f05e36;
          }
          &::after {
            content: "";
            width: 2px;
            background-color: white;
            height: 49px;
            position: absolute;
            bottom: -49px;
          }
        }
      }
  
      .content-right {
        padding-right: 0;
  
        .overlay-img {
          margin-top: -7rem;
  
          #overlay {
            max-width: 100%;
            height: 7rem;
            background-color: $color4;
          }
  
          img {
            max-width: 100%;
            height: auto;
            margin-bottom: 5.125rem;
          }
        }
  
        .text {
          width: 80%;
  
          h4 {
            font-family: $ibmLight;
            font-size: 1rem;
            font-weight: 300;
            margin-bottom: 3.125rem;
            letter-spacing: -0.00625rem;
            line-height: 1.875rem;
          }
        }
  
        button {
          font-family: $ibmMedium;
          font-size: 1rem;
          height: 3rem;
          width: 18.0625rem;
        }
  
        button.btn {
          border-radius: 10rem;
        }
  
        button.btn-primary {
          background-color: $color3;
          border-color: $color3;
        }
  
        button.btn-primary:hover {
          background-color: $color3;
          border-color: $color3;
        }
      }
    }
  
    .section-3 {
      .content {
        .row {
          background-color: $color3;
  
          .content-left {
            .sett-line-section-3 {
              width: 100%;
              height: auto;
              display: flex;
              padding-left: 40%;
  
              span {
                display: inline-block;
                height: 61px;
                color: rgb(255, 255, 255);
                border-right: 2px solid rgb(255, 255, 255);
              }
  
              img {
                margin-bottom: -9.8125rem;
                margin-left: -1.5rem;
              }
            }
  
            .text {
              height: 12.375rem;
  
              margin-top: 6.25rem;
              margin-left: 5rem;
              margin-bottom: 3rem;
  
              h1 {
                color: $color1;
                font-family: $butler;
                font-size: 3.5rem;
                letter-spacing: -0.05125rem;
                line-height: 3.5rem;
              }
            }
  
            ul {
              position: relative;
              margin-top: 7.5rem;
              margin-left: 3.1rem;
              margin-bottom: 5.1875rem;
              height: 15rem;
              width: 28.1875rem;
              list-style: none;
  
              :hover {
                span {
                  opacity: 1 !important;
                }
              }
            }
  
            span {
              position: absolute;
              left: 10px;
              margin-top: -1rem;
              opacity: 0;
  
              :hover {
                opacity: 1;
              }
            }
  
            ul li {
              color: $color4;
              font-family: $ibmMedium;
              font-size: 1.125rem;
              font-weight: 500;
              letter-spacing: -0.01625rem;
              line-height: 2.5rem;
            }
  
            .btt-side {
              padding: 1.5rem 2.6rem;
              background-color: $color1;
              margin-bottom: 5rem;
              margin-left: 3rem;
              height: 5.5625rem;
              // width: 24rem;
  
              h4 {
                color: $color6;
                font-size: 0.875rem;
                font-family: $ibmSemiBold;
                letter-spacing: 0.2rem;
                text-align: center;
              }
  
              h2 {
                color: $color5;
                font-family: $minionItalic;
                text-align: center;
                font-size: 1.25rem;
              }
            }
          }
  
          .content-right {
            padding-right: 0;
  
            img {
              max-width: 100%;
              margin-top: -5rem;
            }
  
            h1 {
              font-family: $ibmMedium;
              margin-top: 5.4375rem;
              height: 2.3125rem;
              margin-bottom: 3rem;
              color: #0a2939;
              font-size: 1.5rem;
              font-weight: 500;
              letter-spacing: -0.01875rem;
              line-height: 1.875rem;
            }
  
            .text {
              padding-right: 2.1875rem;
              font-family: $ibmLight;
              color: $color1;
              height: 24.375rem;
  
              font-weight: 300;
              letter-spacing: -0.00625rem;
  
              h4 {
                line-height: 1.875rem;
                font-size: 1rem;
              }
  
              h4.second-text {
                margin-bottom: 8.4rem;
              }
            }
          }
        }
      }
    }
  
    .section-4 {
      padding: 6.875rem 6.25rem 5.25rem;
      .title,
      .card-title,
      .card-text h3 {
        color: $color4;
      }
  
      .title {
        height: 2.375rem;
  
        color: #0a2939;
        font-family: $butler;
        font-size: 56px;
  
        letter-spacing: -0.03125rem;
        line-height: 2.375rem;
        margin-bottom: 3rem;
      }
      .row {
        .title,
        .card-title,
        .card-text h3 {
          color: $color4;
        }
  
        .title {
          height: 9.375rem;
          width: 31.25rem;
          color: #0a2939;
          font-family: $butler;
          font-size: 3.5rem;
          letter-spacing: -0.05125rem;
          line-height: 3.5rem;
        }
  
        .card-list-image {
          .card {
            // height: 34.95625rem;
            width: 24.1rem;
            margin-bottom: 1.9375rem;
            text-align: left;
            margin-right: 1.8375rem;
            border: none;
  
            .card-body {
              padding: 0rem;
              h1 {
                height: 2.8125rem;
                width: 10.74375rem;
                color: #0a2939;
                margin-top: 3rem;
                font-family: $butler;
                font-size: 3rem;
                letter-spacing: -0.044375rem;
                line-height: 2.8125rem;
              }
  
              .card-text {
                h4 {
                  color: $color6;
                  font-family: $ibmReguler;
                  height: 2.8125rem;
                  width: 7.70625rem;
                  font-size: 0.9rem;
                  letter-spacing: 0;
                  line-height: 2.8125rem;
                }
  
                h3 {
                  font-family: $ibmReguler;
                  height: 2.875rem;
                  color: #0a2939;
                  font-family: "IBM Plex Sans";
                  font-size: 1.125rem;
                  font-weight: 500;
                  letter-spacing: -0.01625rem;
                  line-height: 1.4375rem;
                }
              }
            }
          }
        }
  
        button {
          height: 3rem;
          width: 20rem;
          border-radius: 1.5rem;
          background-color: #0a2939;
          font-size: 1rem;
          padding: 0.8125rem 3.8125rem;
        }
  
        button.btn {
          border-radius: 1.5rem;
        }
  
        button.btn-primary {
          background-color: $color4;
          border-color: $color4;
        }
  
        button.btn-primary:hover {
          background-color: $color4;
          border-color: $color4;
        }
      }
      button {
        height: 3.5srem;
  
        border-radius: 1.5rem;
        background-color: #0a2939;
        font-size: 1rem;
        padding: 0.8125rem 3.8125rem;
        margin-top: 5.05625rem;
        margin-bottom: 1.5rem;
        width: 20rem;
        height: 3rem;
        padding: 0;
      }
  
      button.btn {
        border-radius: 2.5rem;
      }
  
      button.btn-primary {
        background-color: $color4;
        border-color: $color4;
        display: block;
      }
  
      button.btn-primary:hover {
        background-color: $color4;
        border-color: $color4;
      }
    }
  
    .section-5Body {
      display: none;
    }
  
    .section-6 {
      .row {
        background-color: $color7;
        color: $color1;
        height: 39.5625rem;
  
        .logo-center {
          margin: 5.8rem 0;
  
          img {
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
        }
  
        hr {
          text-decoration: none;
          border-bottom: 2px solid $colorLine;
          height: 1px;
          width: 80%;
          margin-bottom: 0;
        }
  
        .content {
          width: 80%;
          padding-left: 0;
          flex-direction: row;
  
          .text {
            height: auto;
            display: block;
            margin-top: 2rem;
          }
  
          .left {
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
  
          .center {
            margin-left: auto;
            margin-right: auto;
            display: block;
          }
  
          .mt-lg-0 {
            display: none;
          }
  
          h5 {
            height: 0.9375rem;
            width: 11.6875rem;
            font-family: $ibmMedium;
            color: #ffffff;
            font-size: 0.75rem;
            font-weight: 500;
            letter-spacing: 0.03125rem;
            line-height: 0.9375rem;
            margin-bottom: 2rem;
          }
  
          .right {
            width: 15.1875rem;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: auto;
            margin-bottom: auto;
  
            img {
              margin-right: 0.3125rem;
            }
  
            h4 {
              font-family: $ibmReguler;
              font-size: 0.75rem;
            }
          }
        }
      }
    }
  }