$color1: #ffffff;
$color2: #e5e5e5;
$color3: #f05e36;
$color4: #0a2939;
$color5: #002f39;
$color6: #f66e49;
$color7: #021925;
$colorLine: #113d53;
$maxWidth: 144rem;
$ibmReguler: "IBMPlexSans";
$ibmSemiBold: "IBMPlexSans-SemiBold";
$ibmSemiBoldItalic: "IBMPlexSans-SemiBoldItalic";
$ibmLight: "IBMPlexSans-Light";
$ibmMedium: "IBMPlexSans-Medium";
$butlerLight: "Butler-Light";
$butler: "Butler";
$minionItalic: "Minion-DisplayItalic";
$size1: 1.6rem;

@font-face {
  font-family: $ibmReguler;
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans.ttf");
}

@font-face {
  font-family: $ibmSemiBold;
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-family: $ibmLight;
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: $ibmMedium;
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: $ibmSemiBoldItalic;
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: $butlerLight;
  src: url("../../assets/fonts/webfont-butler/Butler-Light.ttf");
}

@font-face {
  font-family: $butler;
  src: url("../../assets/fonts/webfont-butler/Butler.ttf");
}

@font-face {
  font-family: $minionItalic;
  src: url("../../assets/fonts/webfont-minion/Minion-DisplayItalic.ttf");
}

.section-5 {
  background-image: url(../../assets/images/visual-who-we-are.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.show425 {
  display: none !important;

  img {
    width: inherit;
  }
}

hr {
  border: 1.5px solid #113d53;
  padding: 0 10px;
}

li.hidden {
  ul.dash {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 10px;

    li {
      font-family: $ibmReguler;
      font-size: 14px;
      color: $color1;
      line-height: 18px;
      margin-bottom: 24px;
      text-indent: -5px;
      font-weight: 400;
    }

    li.first {
      color: $color3;
    }

    li.last {
      margin-bottom: 48px;
    }

    li:before {
      content: "-";
      text-indent: -5px;
      margin-right: 13px;
      color: $color3;
    }
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border: none;
}

.section-1 {
  background-image: url("../../assets/images/header-homepage.jpg");
  max-height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Needed to position the navbar */

  .navbar .container .navbar-toggler {
    margin-left: -1rem;
  }

  ul li a {
    width: auto;
  }
}

li.nav-item {
  margin-left: 0;

  svg {
    width: 30px;
    margin-top: 2rem;
  }
  button {
    img {
      width: auto;
      height: auto;
      background-color: transparent;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }
  }

  .dropdown-toggle::after {
    display: none;
    background-color: transparent;
  }

  #dropdownMenuButton.nav-link {
    border: 2px solid #e5e5e5;
    padding-left: 2.4375rem;
    padding-right: 3.4375rem;
    border-radius: 1.25rem;
  }

  .nav-link,
  button span,
  .dropdown-item {
    font-family: $ibmSemiBold;
    font-weight: 600;
    font-size: 18px;
  }
}

li.drop {
  .btn-group {
    margin-top: -0.5rem;

    .dropdown-menu {
      .dropdown-item {
        font-size: 1rem;
      }

      .dropdown-item.first {
        color: $color3;
        margin-bottom: 0.5rem;
      }
    }
  }

  button.btn {
    border-radius: 2.4rem;
    padding: 0.7rem 1.6rem;
    background-color: transparent;
  }

  button.btn-danger {
    border: 2px solid white;
  }

  button.dropdown-toggle {
    color: $color3;
  }

  button {
    span {
      color: white;
    }
  }
}

.show {
  .btn-danger.dropdown-toggle {
    background-color: transparent;
    border: 2px solid white;
    color: $color3;
  }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  top: 3.9rem;
  left: 1.25rem;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
  width: 13rem;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: $color1;
}

li.hidden ul li {
  font-family: $ibmSemiBold;
  font-weight: 600;
  font-size: 1rem;
}

.section-4 {
  display: flex;
  flex-direction: column;
  .row {
    button {
      margin-top: 5rem;
    }
  }
}

.Footer {
  .container {
    .foooterBody {
      .footerBodyRight {
        min-width: 242px;
      }
    }
  }
}

.section-3 {
  .content {
    .row {
      .content-right {
        .container-contents {
          margin-top: 5.4375rem;
          .container-contents-content-right {
            -webkit-transition: opacity 0.3s ease-in;
            -moz-transition: opacity 0.3s ease-in;
            -ms-transition: opacity 0.3s ease-in;
            -o-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;
            opacity: 1;
            &.removed {
              opacity: 0;
              h1,
              h4 {
                display: none;
              }
              .text {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.section-4 {
  .card-list-image {
    .card {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.container-contents-section5 {
  display: flex;
  width: 100%;
}


