@media (min-width: 0px) and (max-width: 992px) {
    .section-2 {
      .content-right {
        .overlay-img {
          img {
            width: 100%;
          }
        }
      }
    }
    .section-3 {
      .content .row {
        .content-right {
          img {
            width: 100%;
          }
        }
      }
    }
    .navbar {
      height: 4.1875rem;
    }
    .section-1 {
      min-height: 20rem;
      margin: 0;
      &::before {
        content: "";
        width: 1px;
        height: 50px;
        background-color: white;
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin-left: auto;
        top: 0;
        margin-right: auto;
      }
      .sett_img {
        display: block !important;
      }
      .container-banner-text {
        position: relative;
        > .container {
          margin-top: -3rem;
        }
        &::after {
          content: "";
          width: 1px;
          height: 50px;
          background-color: white;
          position: absolute;
          display: block;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          bottom: 0;
        }
  
        img {
          width: 11.625rem;
          margin-bottom: 1rem;
        }
      }
      .text-title {
        .une-approche-globale {
          // height: 12.5rem;
          color: #ffffff;
          font-family: "Butler-Light";
          font-size: 2.125rem;
          font-weight: 300;
          letter-spacing: -0.5px;
          line-height: 2.375rem;
          text-align: center;
        }
      }
      .sett_arrow_section-1 {
        &.d-flex {
          display: none !important;
        }
      }
    }
    .container-contents-section2 {
      padding: 1.9375rem 1.4375rem 3rem;
      margin: 0;
      h1 {
        color: #0a2939;
        line-height: 1.875rem;
        font-family: IBM Plex Sans;
        font-size: 1.125rem;
        letter-spacing: -0.26px;
        font-weight: 500;
        margin-bottom: 2rem;
      }
      ul.dashed {
        list-style: none;
        padding: 0;
        margin-bottom: 2.25rem;
        li {
          font-size: 1.75rem;
          font-family: Butler;
          line-height: 2.125rem;
          color: #0a2939;
          margin-bottom: 1rem;
          &:hover {
            color: #f05e36;
          }
          &:before {
            content: "-";
            text-indent: -20px;
            color: #f05e36;
            margin-right: 0.8125rem;
          }
        }
      }
      img {
        margin-bottom: 2rem;
      }
      .content-right {
        h4 {
          font-family: IBM Plex Sans;
          font-size: 0.875rem;
          line-height: 1.625rem;
          letter-spacing: -0.09px;
          color: #0a2939;
          font-weight: 300;
          margin-bottom: 2rem;
        }
        button {
          width: 100%;
          background-color: #f05e36;
          border-radius: 24px;
          border: none;
          height: 48px;
          font-size: 1rem;
          line-height: 1.25rem;
          color: white;
        }
      }
    }
    .container-contents-section3 {
      padding: 1.9375rem 1.5rem 2.3125rem;
      background-color: #f05e36;
      margin: 0;
      .show425 {
        display: block !important;
        width: 100%;
        margin-bottom: 1.0625rem;
      }
      .text {
        font-family: Butler;
        font-size: 2.125rem;
        line-height: 2.375rem;
        letter-spacing: -0.5px;
        color: white;
        margin-bottom: 1.0625rem;
      }
      .hide425 {
        display: none;
        visibility: hidden;
      }
      ul {
        list-style: none;
        padding: 0;
        margin-bottom: 1.8125rem;
        li {
          font-family: IBM Plex Sans;
          line-height: 2.125rem;
          letter-spacing: -0.24px;
          font-weight: 500;
          &:hover {
            span {
              opacity: 1;
            }
          }
          span {
            opacity: 0;
            position: absolute;
            left: 10px;
            margin-top: -1rem;
          }
          img {
            width: 93%;
          }
        }
      }
      .btt-side {
        background-color: white;
        padding: 1.625rem 2.5rem;
        text-align: center;
        h4 {
          font-family: IBM Plex Sans;
          font-weight: 500;
          font-size: 1.25rem;
          line-height: 1.75rem;
          letter-spacing: 2.5px;
          color: #f66e49;
          margin-bottom: 0.6875rem;
        }
        h2 {
          font-family: Minion;
          font-size: 1.25rem;
          line-height: 1.375;
          color: #002f39;
          font-style: italic;
        }
      }
    }
    .section-4 {
      // padding: 2rem 0 3rem 1.4375rem;
      padding: 2rem 1.4375rem 3rem;
      .title {
        font-family: Butler;
        font-size: 2.125rem;
        line-height: 3rem;
        letter-spacing: -0.5px;
        color: #0a2939;
      }
      .SliderOnMobile {
        overflow-x: overlay;
        display: block !important;
        width: 51.6125rem;
      }
      .row {
        overflow-x: scroll;
        display: block !important;
      }
      .card {
        border: none;
        margin-right: 0.925rem;
        width: 256px;
        display: inline-block;
      }
      .card-img-top {
        width: 256px;
      }
      .card-title {
        font-family: Butler;
        font-size: 2rem;
        line-height: 2.8125rem;
        letter-spacing: -0.47px;
        margin-bottom: 0;
      }
      .card-text {
        h4 {
          font-family: IBM Plex Sans;
          font-size: 1rem;
          line-height: 2.8125rem;
          font-weight: 300;
          color: #f66e49;
        }
        h3 {
          font-family: IBM Plex Sans;
          font-weight: 500;
          font-size: 1.125rem;
          line-height: 1.625rem;
          letter-spacing: -0.26px;
        }
      }
      button {
        border-radius: 24px;
        background-color: #0a2939;
        color: white;
        font-weight: 500;
        line-height: 1.25rem;
        margin-top: 3.4375rem;
        height: 3rem;
        width: 100%;
      }
    }
    .section-5Body {
      display: none;
      visibility: hidden;
    }
  }