@import "../page-7/page-7-center";

.container {
  .navbar-nav {
    z-index: 1;
  }
}

.sideButton {
  button {
    border-radius: 2.4rem;
    padding: 0.75rem 2rem;
    background-color: #f05e36;
    color: #ffffff;
    border: 1px solid #f05e36;
    font-size: 16px;
    font-family: "IBMPlexSans-Medium";
  }
}
.sectionBody {
  display: flex;
  margin-top: 5rem;
  padding-left: 10%;
}
.containerBack {
  text-align: center;
  margin-top: 4.0625rem;
  margin-bottom: 2.5625rem;
  position: relative;
  overflow: hidden;
  font-family: IBM Plex Sans;

  span {
    color: #f66e49;
    font-size: 0.75rem;
    margin-left: 1rem;
    text-transform: uppercase;
    line-height: 0.9375rem;
    letter-spacing: 2px;
    cursor: pointer;
  }
  .rotation-wrapper-outer {
    display: table;
    width: 100%;
    position: absolute;
    top: 0.4rem;
    right: 4.6rem;
  }
  .rotation-wrapper-inner {
    height: 0;
  }
  img {
    transform: rotate(90deg);
    display: block;
    transform-origin: top left;
    white-space: nowrap;
    margin: 0 auto;
    cursor: pointer;
    width: 13px;
  }
}
.containerCard {
  width: 320px;
  // margin-right: 6.625rem;
  margin-right: 8.9%;
  padding-top: 0.7rem;
  .containerImage {
    position: relative;
    display: block;
    img {
      height: 320px;
      width: 320px;
    }
    &::after {
      content: "";
      width: 2px;
      background-color: #f05e36;
      height: 4.8rem;
      position: absolute;
      bottom: -1.98rem;
      right: 2.5rem;
    }
  }
  .date {
    color: #0a2939;
    font-family: Minion Display;
    font-size: 3.4rem;
    line-height: 45px;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
    letter-spacing: -0.79px;
  }
  .subTitle {
    font-size: 0.9rem;
    color: #f05e36;
    font-family: IBM Plex Sans;
  }
  .title {
    font-size: 1.15rem;
    color: #0a2939;
    margin-bottom: 0;
    line-height: 1.6rem;
    font-family: IBM Plex Sans;
  }
}
.containerNews {
  font-family: IBM Plex Sans;
  margin-left: 9rem;
  .section-two-title {
    margin-left: -8rem;
    width: 100%;
    h3 {
      height: fit-content;
      width: 49%;
      color: #0a2939;
      font-family: $ibmLight!important;
      font-weight: 300;
      letter-spacing: -0.42px;
      line-height: 41.8px;
    }
  }
  .newsTitle {
    color: #0a2939;
    line-height: 2.6125rem;
    margin-bottom: 1.275rem;
    font-size: 2rem;
    letter-spacing: -0.44px;
  }
  .newsAuthor {
    font-size: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #e3e3e3;
    margin-bottom: 1.9375rem;
    color: #3891a5;
    line-height: 1.875rem;
    font-weight: 300;
    letter-spacing: -0.1px;
  }
  .containerNewsAllText {
    line-height: 1.875rem;
    color: #0a2939;
    font-weight: 300;
    margin-bottom: 3rem;
    margin-top: 2rem;
    font-family: $ibmLight!important;
    width: 75%;
  }
  .visitWebsite {
    font-size: 1rem;
    line-height: 1.875rem;
    color: #f05e36;
    // display: block;
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
      color: #0a2939;
    }
  }
  .dividerVisitWebsite {
    margin-top: 3.125rem;
    height: 2px;
    background-color: #e3e3e3;
  }
}
.sideButton {
  margin-top: 50px;
}
.section-one {
  .section-one-right {
    img {
      width: 1019px;
    }
  }
  .section-one-left {
    h1 {
      font-family: $butler!important;
    }
    h5 {
      font-family: $minionItalic!important;
    }
  }
}

.section-five {
  .section-five-body {
    h2 {
      font-family: $minionBold!important;
    }
    p {
      font-family: $ibmReguler!important;
    }
  }
  .section-five-center {
    .terms {
      text-decoration: underline!important;
      font-family: $ibmMedium!important;
    }
    ::placeholder, .text, .terms {
      font-family: $ibmReguler!important;
    }
  }
}