@font-face {
  font-family: "IBMPlexSans";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans.ttf");
}

@font-face {
  font-family: "IBMPlexSans-Bold";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Bold.ttf");
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBold.ttf");
}

@font-face {
  font-family: "IBMPlexSans-Light";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Butler-Light";
  src: url("../../assets/fonts/webfont-butler/Butler-Light.ttf");
}

@font-face {
  font-family: "Butler";
  src: url("../../assets/fonts/webfont-butler/Butler.ttf");
}

@font-face {
  font-family: "Minion-DisplayItalic";
  src: url("../../assets/fonts/webfont-minion/Minion-DisplayItalic.ttf");
}

@font-face {
  font-family: "Minion-Bold";
  src: url("../../assets/fonts/webfont-minion/Minion-Bold.ttf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  margin-top: 2rem;
  margin-right: 3rem;
}

.navbar span {
  height: 400px;
  position: absolute;
  border-right: 2px solid #ebebeb;
  left: 10%;
  margin-left: 18rem;
}

.navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 10%;
}

.navbar .bg-white {
  background-color: transparent !important;
}

.navbar .dropdown-menu {
  top: 45px;
  left: 20px;
}

.navbar nav .navbar-toggler-icon {
  width: 3rem;
  height: 3rem;
}

.navbar nav .navbar-brand img {
  width: 5rem;
  height: 7rem;
  margin-left: 9rem;
  padding-bottom: 2rem;
}

.navbar nav.navbar {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: transparent;
}

.navbar .nav-item.start {
  margin-right: 5rem;
}

.navbar .nav-item.end {
  margin-right: -5rem;
}

.navbar .nav-item a img {
  width: auto;
  height: auto;
  background-color: transparent;
  margin-left: 1rem;
  margin-top: -1rem;
}

.navbar .nav-item .dropdown-toggle::after {
  display: none;
  background-color: transparent;
}

.navbar .nav-item .nav-link {
  color: #0A2939;
  font-family: "IBMPlexSans-Medium";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.26px;
  line-height: 23px;
  margin-right: 4rem;
  margin-left: .75rem;
  margin-bottom: -10rem;
}

.navbar .nav-item .nav-link:hover {
  border-bottom: 2px #F05E36 solid;
  border-width: 30%;
}

.navbar .nav-item img {
  background-color: rebeccapurple;
  color: #0A2939;
}

.navbar .nav-item.dropdown .nav-link {
  border: 2px solid #E5E5E5;
  padding-left: 2.4375rem;
  padding-right: 4.4375rem;
  border-radius: 1.5rem;
  font-family: "IBMPlexSans-Bold";
}

.navbar .nav-item.dropdown .nav-link::after {
  color: #F05E36;
}

.navbar img {
  position: absolute;
  margin-top: 0;
  width: 4.6875rem;
  height: 5.625rem;
  top: 2.0625rem;
}

.navbar #hidebtn svg {
  width: 2rem;
  margin-left: 0.3rem;
}

.sectionSatu {
  margin-top: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 30rem;
}

.sectionSatu .sectionSatuKiri {
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sectionSatu .sectionSatuKiri .text {
  position: absolute;
  top: 26rem;
  margin-left: 13rem;
}

.sectionSatu .sectionSatuKiri .text h1 {
  height: 196px;
  width: 792px;
  color: #F05E36;
  font-family: "Butler";
  font-size: 100px;
  letter-spacing: -1.47px;
  line-height: 50px;
}

.sectionSatu .sectionSatuKiri .text h5 {
  height: 27px;
  width: 464px;
  color: #021925;
  font-family: "Minion-DisplayItalic";
  font-size: 28px;
  font-style: italic;
  letter-spacing: 1.27px;
  line-height: 29px;
  margin-top: -7.4rem;
}

.sectionSatu .sectionSatuKanan {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0;
  margin-left: auto;
  height: 405px;
}

.sectionSatu .sectionSatuKanan img {
  width: 100%;
}

.sectionSatu .overlay-samping {
  width: 125px;
  background-color: #f05e36;
  max-width: 100%;
  margin-right: -2.5rem;
  height: 405px;
}

.sectionDua {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 6.4rem;
}

.sectionDua .sectionDuaJudul {
  width: 75%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 9rem;
}

.sectionDua .sectionDuaJudul h3 {
  height: 144px;
  width: 50%;
  color: #0A2939;
  font-family: "IBMPlexSans-Light";
  font-weight: 300;
  letter-spacing: -0.42px;
  line-height: 41.8px;
}

.sectionDua .sectionDuaText {
  width: 75%;
  margin-left: 19.4rem;
}

.sectionDua .sectionDuaText .sideAtas {
  width: 78%;
  margin-bottom: 66px;
}

.sectionDua .sectionDuaText .sideAtas h5 {
  margin-top: 47px;
  margin-bottom: 35px;
  font-family: "IBMPlexSans-SemiBold";
  color: #0a2939;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.sectionDua .sectionDuaText .sideAtas p {
  font-family: "IBMPlexSans-Light";
  color: #0a2939;
  font-weight: 300;
  line-height: 30px;
}

.sectionDua .sectionDuaText .sideButton button {
  border-radius: 2.4rem;
  padding: 0.75rem 2rem;
  background-color: #f05e36;
  color: #ffffff;
  border: 1px solid #f05e36;
  font-size: 16px;
  font-family: "IBMPlexSans-Medium";
}

.sectionTiga {
  border: 10px solid #f66f4933;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
  margin-top: 7rem;
  margin-left: 7.75rem;
  margin-right: 7.75rem;
}

.sectionTiga form {
  width: 90%;
}

.sectionTiga .sectionTigaBody {
  text-align: center;
}

.sectionTiga .sectionTigaBody .title,
.sectionTiga .sectionTigaBody .SectionLimaTengah,
.sectionTiga .sectionTigaBody .SectionLimaBawah {
  margin: 0 5rem;
}

.sectionTiga .sectionTigaBody p {
  color: #F66E49;
  font-family: "IBMPlexSans";
  font-size: 22px;
  letter-spacing: -0.32px;
  line-height: 30px;
}

.sectionTiga .sectionTigaBody .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sectionTiga .sectionTigaBody .title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2.5rem;
  margin-top: -5rem;
}

.sectionTiga .sectionTigaBody .title .title-1 {
  width: 48rem;
  text-align: center;
}

.sectionTiga .sectionTigaBody .title .title-1 h2 {
  height: 81px;
  color: #002F39;
  font-family: "Minion-Bold";
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 10.4px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
  border-bottom: 1px solid #E8D4CF;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah .email {
  padding: 0.5rem;
  border: none;
  width: 13rem;
  padding-bottom: 1.25rem;
  font-family: "IBMPlexSans";
}

.sectionTiga .sectionTigaBody .SectionTigaTengah ::-webkit-input-placeholder {
  border-left: 2px solid #002f39;
  margin-left: 1rem;
  width: 13rem;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah :-ms-input-placeholder {
  border-left: 2px solid #002f39;
  margin-left: 1rem;
  width: 13rem;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah ::-ms-input-placeholder {
  border-left: 2px solid #002f39;
  margin-left: 1rem;
  width: 13rem;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah ::placeholder {
  border-left: 2px solid #002f39;
  margin-left: 1rem;
  width: 13rem;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah [placeholder] + span::after {
  content: "*";
  color: red;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah .av-checkbox a {
  padding-left: 2rem;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah .text {
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah .text,
.sectionTiga .sectionTigaBody .SectionTigaTengah .terms {
  color: #002f39;
  font-family: "IBMPlexSans";
  font-size: 16px;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah a.terms {
  text-decoration: underline;
}

.sectionTiga .sectionTigaBody .SectionTigaTengah h6 {
  font-family: "IBMPlexSans-Medium";
  color: #002f39;
  margin-bottom: 0;
}

.Footer {
  width: 100%;
  background-color: #021925;
  height: 40rem;
  margin-top: 8.1rem;
}

.Footer .container {
  background-color: #021925;
  height: 100%;
  color: #E8D4CF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Footer .container .footerHeader {
  margin-top: 8rem;
  margin-bottom: 6rem;
}

.Footer .container .footerHeader img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.8;
}

.Footer .container .foooterBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1.5px solid #113D53;
  border-bottom: 1.5px solid #113D53;
  width: 90%;
  height: 10rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Footer .container .foooterBody .footerBodyKiri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 65%;
  padding: 3rem 2rem;
  border-right: 2px #113D53 solid;
}

.Footer .container .foooterBody .footerBodyKiri li {
  list-style: none;
  margin-bottom: 2rem;
  height: 15px;
  color: #FFFFFF;
  font-family: "IBMPlexSans-Light";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 15px;
  text-transform: uppercase;
}

.Footer .container .foooterBody .footerBodyKiri .footerBodyKiriOne {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 8rem;
  margin-right: 6rem;
}

.Footer .container .foooterBody .footerBodyKiri .footerBodyKiriTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Footer .container .foooterBody .footerBodyKanan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Footer .container .foooterBody .footerBodyKanan a {
  color: transparent;
}

.Footer .container .foooterBody .footerBodyKanan .linkedIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 3rem;
  text-decoration: none;
}

.Footer .container .foooterBody .footerBodyKanan .linkedIn h5 {
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: #FFFFFF;
  font-family: "IBMPlexSans";
  font-size: 15px;
  letter-spacing: -0.22px;
  line-height: 15px;
}

/* For mobile phones: */
@media (min-width: 200px) and (max-width: 767px) {
  .navbar .container {
    height: 1.5rem;
  }
  .navbar nav.navbar {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .container {
    max-width: 100%;
  }
  .container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-bottom: 20px;
  }
  .container .navbar span.line {
    display: none;
  }
  .container .navbar-light {
    border: none;
  }
  .container .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .container .navbar-nav {
    top: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    background-color: #021925;
    height: 100%;
    width: 100%;
    padding: 1.5rem;
    color: #ffffff;
    z-index: 1;
  }
  .container .navbar-nav .nav-item {
    width: 100%;
    height: 2rem;
    margin-bottom: 24px;
  }
  .container .navbar-nav .nav-item .nav-link {
    color: #ffffff;
  }
  .container .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }
  .container .navbar-nav .nav-item .nav-link.active {
    border: none;
  }
  .container .navbar-nav .nav-item .nav-link.contact {
    margin-bottom: 50px;
  }
  .container .navbar-nav .nav-item ul.dash {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 10px;
  }
  .container .navbar-nav .nav-item ul.dash li {
    font-family: "IBMPlexSans";
    font-size: 14px;
    color: #ffffff;
    line-height: 18px;
    margin-bottom: 24px;
    text-indent: -5px;
  }
  .container .navbar-nav .nav-item ul.dash li.first {
    color: #f05e36;
  }
  .container .navbar-nav .nav-item ul.dash li:before {
    content: "\2015";
    text-indent: -5px;
    margin-right: 13px;
    color: #f05e36;
  }
  .container .navbar-nav #listhide {
    border-top: 1.5px solid #113d53;
  }
  .container .navbar-nav #hidebtn {
    margin-bottom: 2rem;
  }
  .col {
    width: 100%;
  }
  .navbar {
    border-bottom: 1px solid #e3e3e3;
    width: 90%;
    margin-left: 1rem;
  }
  .navbar span {
    height: 0;
    border-right: none;
  }
  .navbar span.navbar-toggler-icon {
    margin-left: -0.5rem;
    position: absolute;
    bottom: 3rem;
    width: 2rem;
    height: 3rem;
  }
  .navbar nav .navbar-brand img {
    top: -4.8rem;
    margin-left: 2.5rem;
    width: 3rem;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .container .sectionSatu {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    height: 22rem;
  }
  .container .sectionSatu .sectionSatuKiri {
    background-color: transparent;
  }
  .container .sectionSatu .sectionSatuKiri .text {
    margin-left: 0;
    position: absolute;
    top: 6rem;
  }
  .container .sectionSatu .sectionSatuKiri .text h1 {
    height: auto;
    color: #F05E36;
    font-family: "Butler";
    font-size: 2.625rem;
    letter-spacing: -0.03875rem;
    line-height: 2.375rem;
  }
  .container .sectionSatu .sectionSatuKiri .text h5 {
    margin-top: .75rem;
    color: #021925;
    font-family: "Minion-DisplayItalic";
    font-size: 1.125rem;
    font-style: italic;
    letter-spacing: .00625rem;
    line-height: 1.125rem;
  }
  .container .sectionSatu .sectionSatuKanan {
    position: absolute;
    top: 12rem;
    height: auto;
    margin-right: 0;
    padding-right: 1rem;
  }
  .container .sectionSatu .sectionSatuKanan img {
    height: 12rem;
  }
  .container .sectionSatu .overlay-samping {
    display: none;
  }
  .container .sectionSatu .overlay-bawah {
    width: auto;
    background-color: #f05e36;
    max-width: 100%;
    height: 16px;
    position: relative;
    top: -0.6rem;
  }
  .container .sectionDua {
    margin-left: 0;
    padding: 0 1rem;
  }
  .container .sectionDua .sectionDuaJudul {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .container .sectionDua .sectionDuaJudul h3 {
    font-size: 1.6rem;
    width: 100%;
    line-height: 35px;
    height: 104px;
  }
  .container .sectionDua .sectionDuaText {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
    padding: 0;
  }
  .container .sectionDua .sectionDuaText .sideAtas {
    width: 100%;
    margin-bottom: 41px;
  }
  .container .sectionDua .sectionDuaText .sideAtas p {
    font-size: 14px;
  }
  .container .sectionDua .sectionDuaText .sideAtas h5 {
    font-size: 16px;
    margin: 28px 0;
  }
  .container .sectionDua .sectionDuaText .sideButton button {
    border-radius: 3rem;
    width: 100%;
  }
  .container .sectionTiga {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border: none;
    margin-top: 0;
  }
  .container .sectionTiga .sectionTigaBody {
    height: 485px;
    border: 4px solid rgba(246, 110, 73, 0.15);
  }
  .container .sectionTiga .sectionTigaBody .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 1.25rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 2.3125rem;
  }
  .container .sectionTiga .sectionTigaBody .logo img {
    width: 11.625rem;
  }
  .container .sectionTiga .sectionTigaBody .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .container .sectionTiga .sectionTigaBody .title .title-1 h2 {
    font-size: 22px;
    height: 32px;
    line-height: 24px;
    letter-spacing: 8px;
    margin-bottom: 16px;
  }
  .container .sectionTiga .sectionTigaBody .title .title-1 p {
    font-size: 18px;
    height: 42px;
    line-height: 24px;
    letter-spacing: -0.26px;
    margin-bottom: 0.5rem;
  }
  .container .sectionTiga .SectionTigaTengah {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: none;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group input {
    color: #363636;
    font-family: "IBMPlexSans";
    font-size: 16px;
    letter-spacing: -0.24px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    display: block;
    border-bottom: 1px solid #E8D4CF;
    margin-top: 35px;
    padding-bottom: 1rem;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group .email {
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah ::-webkit-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah :-ms-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah ::-ms-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah ::placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah [placeholder] + span::after {
    position: absolute;
  }
  .container .sectionTiga .SectionTigaTengah h6 {
    text-align: center;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.3125rem;
    margin-bottom: 1.875rem;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10.85px;
    border: 2px solid #FFFFFF;
    margin-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset .text {
    color: #002F39;
    font-family: "IBMPlexSans";
    font-size: 14px;
    letter-spacing: -0.21px;
    line-height: 18px;
    padding-right: .3125rem;
    margin-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset a {
    color: #002f39;
    font-family: "IBMPlexSans";
    font-size: 14px;
    letter-spacing: -0.21px;
    line-height: 18px;
    text-decoration: underline;
  }
  .container .sectionTiga h6 {
    font-family: "IBMPlexSans-Medium";
    color: #002f39;
  }
  .Footer {
    margin-top: 41px;
    background-color: #021925;
  }
  .Footer .container .footerHeader {
    margin-top: 2rem;
    width: 100%;
    border-bottom: 1px solid #113d53;
    margin-bottom: 10rem;
  }
  .Footer .container .footerHeader img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2.9375rem;
    width: 11.625rem;
    padding-bottom: 4rem;
  }
  .Footer .container .foooterBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none;
    border-bottom: none;
  }
  .Footer .container .foooterBody .footerBodyKiri {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1.5px solid #113D53;
    padding-top: 1.9375rem;
    border-bottom: 1.5px solid #113D53;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .Footer .container .foooterBody .footerBodyKiri li {
    color: #FFFFFF;
    font-family: "IBMPlexSans-Light";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    list-style: none;
  }
  .Footer .container .foooterBody .footerBodyKiri .footerBodyKiriOne {
    margin: 0;
    padding: 0;
  }
  .Footer .container .foooterBody .footerBodyKanan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3.6875rem;
    margin-top: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    border-top: 1px solid #113d53;
  }
  .Footer .container .foooterBody .footerBodyKanan img {
    padding-right: 1rem;
  }
  .Footer .container .foooterBody .footerBodyKanan h5 {
    display: inline-block;
    color: #FFFFFF;
    font-family: "IBMPlexSans-Light";
    font-size: 15px;
    letter-spacing: -0.22px;
    line-height: 19.5px;
  }
}

/* For tablet: */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 100%;
  }
  .navbar .container {
    height: 1.5rem;
    max-width: 100%;
  }
  .navbar .container .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding-bottom: 20px;
  }
  .navbar .container .navbar span.line {
    display: none;
  }
  .navbar .container .navbar-light {
    border: none;
  }
  .navbar .container .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .navbar .container .navbar-nav {
    top: 0;
    left: 0;
    position: fixed;
    display: inline-block;
    background-color: #021925;
    height: 50%;
    width: 50%;
    padding: 1.5rem;
    color: #ffffff;
    z-index: 1;
  }
  .navbar .container .navbar-nav .nav-item {
    width: 100%;
    height: 2rem;
    margin-bottom: 24px;
  }
  .navbar .container .navbar-nav .nav-item .nav-link {
    color: #ffffff;
  }
  .navbar .container .navbar-nav .nav-item .nav-link:hover {
    border-bottom: none;
  }
  .navbar .container .navbar-nav .nav-item .nav-link.active {
    border: none;
  }
  .navbar .container .navbar-nav .nav-item .nav-link.contact {
    margin-bottom: 50px;
  }
  .navbar .container .navbar-nav .nav-item ul.dash {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 10px;
  }
  .navbar .container .navbar-nav .nav-item ul.dash li {
    font-family: "IBMPlexSans";
    font-size: 14px;
    color: #ffffff;
    line-height: 18px;
    margin-bottom: 24px;
    text-indent: -5px;
  }
  .navbar .container .navbar-nav .nav-item ul.dash li.first {
    color: #f05e36;
  }
  .navbar .container .navbar-nav .nav-item ul.dash li:before {
    content: "\2015";
    text-indent: -5px;
    margin-right: 13px;
    color: #f05e36;
  }
  .navbar .container .navbar-nav #listhide {
    border-top: 1.5px solid #113d53;
  }
  .navbar .container .navbar-nav #hidebtn {
    margin-bottom: 2rem;
  }
  .navbar nav.navbar {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .navbar {
    border-bottom: 1px solid #e3e3e3;
    width: 95%;
    margin-left: 1rem;
  }
  .navbar span {
    height: 0;
    border-right: none;
  }
  .navbar span.navbar-toggler-icon {
    margin-left: -3rem;
    position: absolute;
    bottom: 3rem;
    width: 2rem;
    height: 3rem;
  }
  .navbar nav .navbar-brand img {
    top: -4.8rem;
    margin-left: 2.5rem;
    width: 3rem;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .container .sectionSatu {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    height: 30rem;
  }
  .container .sectionSatu .sectionSatuKiri {
    background-color: transparent;
  }
  .container .sectionSatu .sectionSatuKiri .text {
    margin-left: 0;
    position: absolute;
    top: 6rem;
  }
  .container .sectionSatu .sectionSatuKiri .text h1 {
    height: auto;
    color: #F05E36;
    font-family: "Butler";
    font-size: 2.625rem;
    letter-spacing: -0.03875rem;
    line-height: 2.375rem;
  }
  .container .sectionSatu .sectionSatuKiri .text h5 {
    margin-top: .75rem;
    color: #021925;
    font-family: "Minion-DisplayItalic";
    font-size: 1.125rem;
    font-style: italic;
    letter-spacing: .00625rem;
    line-height: 1.125rem;
  }
  .container .sectionSatu .sectionSatuKanan {
    position: absolute;
    top: 12rem;
    margin-right: 0;
    height: auto;
    padding-right: 1rem;
  }
  .container .sectionSatu .sectionSatuKanan img {
    margin-right: 0;
  }
  .container .sectionSatu .overlay-samping {
    display: none;
  }
  .container .sectionSatu .overlay-bawah {
    width: auto;
    background-color: #f05e36;
    max-width: 100%;
    height: 16px;
    position: relative;
    top: -0.6rem;
  }
  .container .sectionDua {
    margin-left: 0;
    padding: 0 1rem;
  }
  .container .sectionDua .sectionDuaJudul {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .container .sectionDua .sectionDuaJudul h3 {
    width: 100%;
    line-height: 35px;
    height: 104px;
  }
  .container .sectionDua .sectionDuaText {
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .container .sectionDua .sectionDuaText .sideAtas {
    width: 100%;
    margin-bottom: 48px;
  }
  .container .sectionDua .sectionDuaText .sideAtas h5 {
    margin: 28px 0;
  }
  .container .sectionDua .sectionDuaText .sideButton {
    text-align: center;
  }
  .container .sectionDua .sectionDuaText .sideButton button {
    border-radius: 3rem;
  }
  .container .sectionTiga {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    border: none;
  }
  .container .sectionTiga .sectionTigaBody {
    height: 485px;
    border: 4px solid rgba(246, 110, 73, 0.15);
  }
  .container .sectionTiga .sectionTigaBody .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 1.25rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 2.3125rem;
  }
  .container .sectionTiga .sectionTigaBody .logo img {
    width: 11.625rem;
  }
  .container .sectionTiga .sectionTigaBody .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .container .sectionTiga .sectionTigaBody .title .title-1 h2 {
    height: 46px;
    line-height: 24px;
    letter-spacing: 8px;
    margin-bottom: 16px;
  }
  .container .sectionTiga .sectionTigaBody .title .title-1 p {
    height: 42px;
    line-height: 24px;
    letter-spacing: -0.26px;
    margin-bottom: 0;
  }
  .container .sectionTiga .SectionTigaTengah {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: none;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group input {
    color: #363636;
    font-family: "IBMPlexSans";
    font-size: 16px;
    letter-spacing: -0.24px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    display: block;
    border-bottom: 1px solid #E8D4CF;
    margin-top: 35px;
    padding-bottom: 1rem;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group .email {
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah ::-webkit-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah :-ms-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah ::-ms-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah ::placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah [placeholder] + span::after {
    position: absolute;
  }
  .container .sectionTiga .SectionTigaTengah h6 {
    text-align: center;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.3125rem;
    margin-bottom: 1.875rem;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10.85px;
    border: 2px solid #FFFFFF;
    margin-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset .av-checkbox {
    width: auto;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset .text {
    color: #002F39;
    font-family: "IBMPlexSans";
    letter-spacing: -0.21px;
    line-height: 18px;
    padding-right: .3125rem;
    margin-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset .terms {
    font-size: 16px;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset a {
    color: #002f39;
    font-family: "IBMPlexSans";
    font-size: 14px;
    letter-spacing: -0.21px;
    line-height: 18px;
    text-decoration: underline;
  }
  .container .sectionTiga h6 {
    font-family: "IBMPlexSans-Medium";
    color: #002f39;
  }
  .Footer {
    margin-top: 41px;
    background-color: #021925;
  }
  .Footer .container .footerHeader {
    margin-top: 2rem;
    width: 100%;
    border-bottom: 1px solid #113d53;
    margin-bottom: 10rem;
  }
  .Footer .container .footerHeader img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2.9375rem;
    width: 14rem;
    padding-bottom: 4rem;
  }
  .Footer .container .foooterBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none;
    border-bottom: none;
  }
  .Footer .container .foooterBody .footerBodyKiri {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1.5px solid #113D53;
    padding-top: 1.9375rem;
    border-bottom: 1.5px solid #113D53;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .Footer .container .foooterBody .footerBodyKiri li {
    color: #FFFFFF;
    font-family: "IBMPlexSans-Light";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    list-style: none;
  }
  .Footer .container .foooterBody .footerBodyKiri .footerBodyKiriOne {
    margin: 0;
    padding: 0;
  }
  .Footer .container .foooterBody .footerBodyKanan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3.6875rem;
    margin-top: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    border-top: 1px solid #113d53;
  }
  .Footer .container .foooterBody .footerBodyKanan img {
    padding-right: 1rem;
  }
  .Footer .container .foooterBody .footerBodyKanan h5 {
    display: inline-block;
    color: #FFFFFF;
    font-family: "IBMPlexSans-Light";
    font-size: 18px;
    letter-spacing: -0.22px;
    line-height: 19.5px;
  }
}

/* For tablet: */
@media (min-width: 992px) and (max-width: 1366px) {
  .container {
    max-width: 100%;
  }
  .navbar .container .navbar span.line {
    border-right: none;
  }
  .navbar .container .navbar .navbar-brand img {
    top: -3rem;
    margin-left: 0;
  }
  .navbar .container .navbar-light {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container ul.navbar-nav {
    width: 100%;
    margin-top: 1.5rem;
  }
  .navbar .container ul.navbar-nav .nav-item .nav-link {
    margin-right: 1.5rem;
    margin-left: 0;
  }
  .navbar .container ul.navbar-nav .nav-item.dropdown .navlink {
    margin-right: 4rem;
  }
  .navbar .container ul.navbar-nav .nav-item.end {
    margin-right: 0;
  }
  .navbar .container ul.navbar-nav hr {
    display: none;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .container .sectionSatu {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    height: 40rem;
  }
  .container .sectionSatu .sectionSatuKiri {
    background-color: transparent;
  }
  .container .sectionSatu .sectionSatuKiri .text {
    margin-left: 0;
    position: absolute;
    top: 13rem;
  }
  .container .sectionSatu .sectionSatuKiri .text h1 {
    height: auto;
    color: #F05E36;
    font-family: "Butler";
    font-size: 2.625rem;
    letter-spacing: -0.03875rem;
    line-height: 2.375rem;
  }
  .container .sectionSatu .sectionSatuKiri .text h5 {
    margin-top: .75rem;
    color: #021925;
    font-family: "Minion-DisplayItalic";
    font-size: 1.125rem;
    font-style: italic;
    letter-spacing: .00625rem;
    line-height: 1.125rem;
  }
  .container .sectionSatu .sectionSatuKanan {
    position: absolute;
    top: 19rem;
    margin-right: 0;
    height: auto;
    padding-right: 2rem;
  }
  .container .sectionSatu .sectionSatuKanan img {
    margin-right: 0;
  }
  .container .sectionSatu .overlay-samping {
    display: none;
  }
  .container .sectionSatu .overlay-bawah {
    width: auto;
    background-color: #f05e36;
    max-width: 100%;
    height: 16px;
    position: relative;
    top: -0.2rem;
  }
  .container .sectionDua {
    margin-left: 0;
  }
  .container .sectionDua .sectionDuaJudul {
    width: 100%;
    margin-left: 0;
  }
  .container .sectionDua .sectionDuaJudul h3 {
    width: 100%;
    line-height: 35px;
    height: 70px;
  }
  .container .sectionDua .sectionDuaText {
    width: 100%;
    margin-left: 0;
    padding: 0 2rem;
  }
  .container .sectionDua .sectionDuaText .sideAtas {
    width: 100%;
    margin-bottom: 48px;
  }
  .container .sectionDua .sectionDuaText .sideAtas h5 {
    margin: 28px 0;
  }
  .container .sectionDua .sectionDuaText .sideButton {
    text-align: center;
  }
  .container .sectionDua .sectionDuaText .sideButton button {
    border-radius: 3rem;
  }
  .container .sectionTiga {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    border: none;
  }
  .container .sectionTiga .sectionTigaBody {
    height: 485px;
    border: 4px solid rgba(246, 110, 73, 0.15);
  }
  .container .sectionTiga .sectionTigaBody .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 1.25rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 2.3125rem;
  }
  .container .sectionTiga .sectionTigaBody .logo img {
    width: 11.625rem;
  }
  .container .sectionTiga .sectionTigaBody .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  .container .sectionTiga .sectionTigaBody .title .title-1 h2 {
    height: 46px;
    line-height: 24px;
    letter-spacing: 8px;
    margin-bottom: 16px;
  }
  .container .sectionTiga .sectionTigaBody .title .title-1 p {
    height: 42px;
    line-height: 24px;
    letter-spacing: -0.26px;
    margin-bottom: 0;
  }
  .container .sectionTiga .SectionTigaTengah {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: none;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group input {
    color: #363636;
    font-family: "IBMPlexSans";
    font-size: 16px;
    letter-spacing: -0.24px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    display: block;
    border-bottom: 1px solid #E8D4CF;
    margin-top: 35px;
    padding-bottom: 1rem;
  }
  .container .sectionTiga .SectionTigaTengah .mc-field-group .email {
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah ::-webkit-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah :-ms-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah ::-ms-input-placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah ::placeholder {
    border-left: none;
    width: 100%;
  }
  .container .sectionTiga .SectionTigaTengah [placeholder] + span::after {
    position: absolute;
  }
  .container .sectionTiga .SectionTigaTengah h6 {
    text-align: center;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.3125rem;
    margin-bottom: 1.875rem;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 10.85px;
    border: 2px solid #FFFFFF;
    margin-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset .av-checkbox {
    width: auto;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset .text {
    color: #002F39;
    font-family: "IBMPlexSans";
    letter-spacing: -0.21px;
    line-height: 18px;
    padding-right: .3125rem;
    margin-right: 0;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset .terms {
    font-size: 16px;
  }
  .container .sectionTiga .SectionTigaTengah .mc_fieldset a {
    color: #002f39;
    font-family: "IBMPlexSans";
    font-size: 14px;
    letter-spacing: -0.21px;
    line-height: 18px;
    text-decoration: underline;
  }
  .container .sectionTiga h6 {
    font-family: "IBMPlexSans-Medium";
    color: #002f39;
  }
  .Footer {
    margin-top: 4rem;
    background-color: #021925;
  }
  .Footer .container .footerHeader {
    margin-top: 2rem;
    width: 100%;
    border-bottom: 1px solid #113d53;
    margin-bottom: 10rem;
  }
  .Footer .container .footerHeader img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2.9375rem;
    width: 14rem;
    padding-bottom: 4rem;
  }
  .Footer .container .foooterBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: none;
    border-bottom: none;
  }
  .Footer .container .foooterBody .footerBodyKiri {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-top: 1.5px solid #113D53;
    padding-top: 1.9375rem;
    border-bottom: 1.5px solid #113D53;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-right: none;
    border-bottom: none;
    border-top: none;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .Footer .container .foooterBody .footerBodyKiri li {
    color: #FFFFFF;
    font-family: "IBMPlexSans-Light";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    list-style: none;
  }
  .Footer .container .foooterBody .footerBodyKiri .footerBodyKiriOne {
    margin: 0;
    padding: 0;
  }
  .Footer .container .foooterBody .footerBodyKanan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 3.6875rem;
    margin-top: 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    border-top: 1px solid #113d53;
  }
  .Footer .container .foooterBody .footerBodyKanan img {
    padding-right: 1rem;
  }
  .Footer .container .foooterBody .footerBodyKanan h5 {
    display: inline-block;
    color: #FFFFFF;
    font-family: "IBMPlexSans-Light";
    font-size: 18px;
    letter-spacing: -0.22px;
    line-height: 19.5px;
  }
}

@media (min-width: 1367px) and (max-width: 1399px) {
  .navbar .container .navbar span.line {
    margin-left: 10.8rem;
  }
  .navbar .container .navbar .navbar-brand img {
    margin-left: 2.3rem;
  }
  .navbar .nav-item .nav-link {
    margin-right: 3.5rem;
  }
  .sectionSatu .sectionSatuKiri .text {
    margin-left: 8.5rem;
  }
  .sectionDua {
    margin-left: 2rem;
  }
}

@media (min-width: 1400px) and (max-width: 1440px) {
  .navbar .container .navbar span.line {
    margin-left: 12.8rem;
  }
  .navbar .container .navbar .navbar-brand img {
    margin-left: 4.3rem;
  }
  .navbar .nav-item .nav-link {
    margin-right: 3.5rem;
  }
  .sectionSatu .sectionSatuKiri .text {
    margin-left: 10.5rem;
  }
  .sectionDua {
    margin-left: 4rem;
  }
}
/*# sourceMappingURL=page-7.css.map */