@font-face {
  font-family: "IBMPlexSans";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans.ttf");
}
@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-family: "IBMPlexSans-Light";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Light.ttf");
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "IBMPlexSans-SemiBoldItalic";
  src: url("../../assets/fonts/webfont-ibm-plex/IBMPlexSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Butler-Light";
  src: url("../../assets/fonts/webfont-butler/Butler-Light.ttf");
}
@font-face {
  font-family: "Butler";
  src: url("../../assets/fonts/webfont-butler/Butler.ttf");
}
@font-face {
  font-family: "Minion-DisplayItalic";
  src: url("../../assets/fonts/webfont-minion/Minion-DisplayItalic.ttf");
}
@font-face {
  font-family: "Minion-Bold";
  src: url("../../assets/fonts/webfont-minion/Minion-Bold.ttf");
}
@media (min-width: 1440px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 87.5rem;
  }

  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        align-self: center;
    background-color: transparent;
  }
  .navbar span {
    height: 400px;
    position: absolute;
    border-right: 2px solid #ebebeb;
    left: 10%;
  }
  .navbar .navbar-collapse {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 14.375rem;
  }
  .navbar .bg-white {
    background-color: transparent !important;
  }
  .navbar .dropdown-menu {
    top: 45px;
    left: 20px;
  }
  .navbar nav .navbar-toggler-icon {
    width: 3rem;
    height: 3rem;
  }
  .navbar nav.navbar {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    background-color: transparent;
  }
  .navbar .nav-item.start {
    margin-right: 5rem;
  }
  .navbar .nav-item.end {
    margin-right: -5rem;
  }
  .navbar .nav-item a img {
    width: auto;
    height: auto;
    background-color: transparent;
    margin-left: 1rem;
    margin-top: -1rem;
  }
  .navbar .nav-item .dropdown-toggle::after {
    display: none;
    background-color: transparent;
  }
  .navbar .nav-item .nav-link {
    color: #0a2939;
    font-family: "IBMPlexSans-Medium";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.26px;
    line-height: 23px;
    margin-right: 5.3125rem;
    margin-left: 0.75rem;
    margin-bottom: -10rem;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .nav-item .nav-link:hover {
    border-bottom: #f05e36 3px solid;
    border-width: 30%;
  }
  .navbar .nav-item .nav-link.contact {
    margin-right: 8.125rem;
  }
  .navbar .nav-item img {
    background-color: rebeccapurple;
    color: #0a2939;
  }
  .navbar .nav-item.dropdown .nav-link {
    border: 2px solid #e5e5e5;
    padding-left: 2.4375rem;
    padding-right: 4.4375rem;
    border-radius: 1.5rem;
    font-family: "IBMPlexSans";
  }
  .navbar .nav-item.dropdown .nav-link::after {
    color: #f05e36;
  }
  .navbar img {
    position: absolute;
    margin-top: 0;
    width: 4.6875rem;
    height: 5.625rem;
    top: 2.0625rem;
    margin-left: 1.25rem;
  }

  .sectionOne {
    margin-top: 4.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .sectionOne .sectionOneLeft {
    background-color: blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .sectionOne .sectionOneLeft .text {
    position: absolute;
    top: 21.875rem;
    margin-left: 4rem;
  }
  .sectionOne .sectionOneLeft .text h1 {
    color: #f05e36;
    font-family: Butler;
    font-size: 100px;
    letter-spacing: -1.47px;
    line-height: 50px;
  }
  .sectionOne .sectionOneLeft .text h5 {
    color: #021925;
    font-family: Minion;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 1.27px;
    line-height: 29px;
    margin-top: 2.4375rem;
  }
  .sectionOne .sectionOneRight {
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 405px;
    margin-left: 17.5rem;
    width: 100%;
  }
  .sectionOne .sectionOneRight .overlay {
    background-color: #f05e36;
    width: 100%;
  }
  .sectionOne .sectionOneRight .overlay img {
    padding-right: 6.25rem;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sectionTwo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sectionTwo .sectionTwoLeft {
    width: 50%;
    padding: 2rem;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-left: 1.5rem;
  }
  .sectionTwo .sectionTwoLeft .contentLeftOne {
    margin-left: 7.5rem;
    margin-top: 6.75rem;
  }
  .sectionTwo .sectionTwoLeft .contentLeftOne h3 {
    height: 184px;
    width: 507px;
    color: #0a2939;
    font-family: "IBM Plex Sans";
    font-size: 28.6px;
    font-weight: 300;
    letter-spacing: -0.42px;
    line-height: 41.8px;
  }
  .sectionTwo .sectionTwoLeft .contentLeftTwo {
    margin-left: 7.5rem;
    margin-top: 1.875rem;
  }
  .sectionTwo .sectionTwoLeft .contentLeftTwo p {
    color: #0a2939;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 30px;
  }
  .sectionTwo .sectionTwoLeft .contentLeftThree {
    margin-left: -3.75rem;
  }
  .sectionTwo .sectionTwoLeft .contentLeftThree span {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 105px;
    width: 2px;
    border-right: 2px solid #f66e49;
    display: block;
    position: relative;
    left: 37%;
    top: 5rem;
  }
  .sectionTwo .sectionTwoLeft .contentLeftThree img {
    height: 466px;
    width: 50rem;
  }
  .sectionTwo .sectionTwoLeft .contentLeftFour {
    margin-top: 7.625rem;
    margin-left: 7.75rem;
    color: #fff;
    padding: 3.5625rem;
    padding-top: 2.625rem;
    padding-bottom: 4.25rem;
    background-color: rgba(10, 41, 57, 0.9);
  }
  .sectionTwo .sectionTwoLeft .contentLeftFour h3 {
    margin-bottom: 2rem;
    color: #f05e36;
    font-family: Butler;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.59px;
    line-height: 50px;
  }
  .sectionTwo .sectionTwoLeft .contentLeftFour p {
    height: 102px;
    width: 374px;
    color: #ffffff;
    font-family: "IBM Plex Sans";
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.14px;
    line-height: 34px;
  }
  .sectionTwo .sectionTwoRight {
    padding: 2rem;
    margin-right: 7.75rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 7.1875rem;
    padding-left: 6.25rem;
  }
  .sectionTwo .sectionTwoRight .contentRightOne {
    height: 352px;
    background-color: rgba(240, 94, 54, 0.9);
    margin-bottom: 3rem;
    padding: 43px 68px;
  }
  .sectionTwo .sectionTwoRight .contentRightOne p {
    height: 20px;
    width: 138px;
    color: #0a2939;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.24px;
    line-height: 20px;
    margin-bottom: 2.0625rem;
  }
  .sectionTwo .sectionTwoRight .contentRightOne li {
    list-style: none;
    width: 374px;
    color: #ffffff;
    font-family: Butler;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.59px;
    line-height: 50px;
    margin-left: -2rem;
  }
  .sectionTwo .sectionTwoRight .contentRightTwo {
    margin-bottom: 5rem;
  }
  .sectionTwo .sectionTwoRight .contentRightTwo p {
    height: 241px;
    width: 486px;
    color: #0a2939;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 30px;
    margin-top: 6.25rem;
  }
  .sectionTwo .sectionTwoRight .contentRightThree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sectionTwo .sectionTwoRight .contentRightThree h3 {
    height: 72px;
    width: 497px;
    color: #f05e36;
    font-family: "IBM Plex Sans";
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.41px;
    line-height: 36px;
    margin-bottom: 3rem;
  }
  .sectionTwo .sectionTwoRight .contentRightThree p {
    height: 150px;
    width: 486px;
    color: #0a2939;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 30px;
  }
  .sectionTwo .contentRightFour h1 {
    height: 36px;
    width: 497px;
    color: #f05e36;
    font-family: "IBM Plex Sans";
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.41px;
    line-height: 36px;
  }
  .sectionTwo .contentRightFour ul {
    margin-top: 1.875rem;
    padding-left: 0;
  }
  .sectionTwo .contentRightFour ul li {
    color: #0a2939;
    font-family: "IBMPlexSans-Light";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
    line-height: 30px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 1.5rem;
  }
  .sectionTwo .contentRightFour ul li .strip {
    text-indent: -20px;
    color: #f05e36;
    font-size: 40px;
    letter-spacing: -0.1px;
    line-height: 30px;
    margin-right: 0.625rem;
    display: inline;
  }
  .sectionTwo .contentRightFour ul li p {
    display: inline;
  }

  .sectionThree {
    margin-top: 1.25rem;
    margin-bottom: 0;
    width: 100%;
    margin-left: 7.75rem;
  }
  .sectionThree .sectionThreeHeader {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sectionThree .sectionThreeHeader h1 {
    width: 916px;
    color: #0a2939;
    font-family: Butler;
    font-size: 56px;
    letter-spacing: -0.82px;
    line-height: 56px;
  }
  .sectionThree .carousel-indicators {
    left: auto;
    bottom: auto;
    right: -9rem;
    top: -3rem;
    font-size: 20px;
  }
  .sectionThree .carousel-indicators li {
    margin: 0.1rem;
    opacity: 0.6;
  }
  .sectionThree .carousel-indicators .active {
    opacity: 1 !important;
  }
  .sectionThree .carousel-control-prev,
.sectionThree .carousel-control-next {
    display: none;
  }
  .sectionThree .containerSlide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sectionThree .containerSlide .logo {
    padding-left: 0;
  }
  .sectionThree .containerSlide div {
    margin-right: 1rem;
    padding-left: 2rem;
  }
  .sectionThree .containerSlide .cardSlider {
    position: relative;
    padding: 4rem 3rem;
    margin-left: 2rem;
    background-color: #f05e36;
  }
  .sectionThree .containerSlide .cardSlider img {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: -webkit-fill-available;
  }
  .sectionThree .containerSlide .cardSlider :nth-child(1):hover {
    opacity: 0;
  }
  .sectionThree .containerSlide .cardSlider :nth-child(4) {
    margin-top: -1rem;
    margin-bottom: 4rem;
  }
  .sectionThree .containerSlide .cardSlider a {
    height: 47px;
    width: 328px;
    color: #ffffff;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 24px;
    list-style: none;
    text-decoration: none;
    margin-bottom: 8rem;
  }
  .sectionThree .containerSlide .cardSlider h2 {
    height: 28px;
    width: 310px;
    color: #0a2939;
    font-family: Butler;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 1rem;
  }
  .sectionThree .containerSlide .cardSlider p {
    width: 328px;
    color: #ffffff;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    letter-spacing: -0.09px;
    line-height: 24px;
    margin-bottom: 1rem;
  }
  .sectionThree .sectionThreeContent {
    margin-top: 5rem;
  }

  .sectionFour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
    margin-left: 7.75rem;
    padding-left: 0;
    padding-top: 0;
    margin-top: 7.0625rem;
    padding-bottom: 0;
  }
  .sectionFour li {
    color: #0a2939;
    font-family: "Butler-Light";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
  }
  .sectionFour .sectionFourHeader h5 {
    height: 20px;
    width: 417px;
    color: #f05e36;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 1.0625rem;
  }
  .sectionFour .sectionFourContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectionFour .sectionFourContent .contentLeft {
    width: 50%;
  }
  .sectionFour .sectionFourContent .contentLeft ul {
    padding-left: 0;
  }
  .sectionFour .sectionFourContent .contentLeft li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectionFour .sectionFourContent .contentLeft li .strip {
    color: #f05e36;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
    margin-right: 0.625rem;
  }
  .sectionFour .sectionFourContent .contentLeft li p {
    color: #0a2939;
    font-family: "Butler-Light";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
  }
  .sectionFour .sectionFourContent .contentLeft li p:hover {
    color: #f05e36;
  }
  .sectionFour .sectionFourContent .contentRight {
    width: 50%;
    margin-right: 20rem;
  }
  .sectionFour .sectionFourContent .contentRight ul {
    padding-left: 0;
  }
  .sectionFour .sectionFourContent .contentRight li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectionFour .sectionFourContent .contentRight li .strip {
    color: #f05e36;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
    margin-right: 0.625rem;
  }
  .sectionFour .sectionFourContent .contentRight li p {
    color: #0a2939;
    font-family: "Butler-Light";
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 48px;
  }
  .sectionFour .sectionFourContent .contentRight li p:hover {
    color: #f05e36;
  }

  .sectionFive {
    border: 10px solid #f66f4933;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3rem;
    margin-top: 7rem;
    margin-left: 7.75rem;
    margin-right: 7.75rem;
  }
  .sectionFive form {
    width: 90%;
  }
  .sectionFive .sectionFiveContent {
    text-align: center;
  }
  .sectionFive .sectionFiveContent .title-1 {
    margin-top: -5.3125rem;
  }
  .sectionFive .sectionFiveContent .title {
    margin-bottom: 3.125rem;
  }
  .sectionFive .sectionFiveContent .title,
.sectionFive .sectionFiveContent .sectionFiveMid,
.sectionFive .sectionFiveContent .sectionFiveBottom {
    margin: 0 5rem;
  }
  .sectionFive .sectionFiveContent p {
    color: #f66e49;
    font-family: "IBMPlexSans";
    font-size: 22px;
    letter-spacing: -0.32px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .sectionFive .sectionFiveContent .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sectionFive .sectionFiveContent .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3.125rem;
  }
  .sectionFive .sectionFiveContent .title .title-1 {
    width: 48rem;
    text-align: center;
  }
  .sectionFive .sectionFiveContent .title .title-1 h2 {
    height: 81px;
    color: #002f39;
    font-family: "Minion-Bold";
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 10.4px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 4rem;
    border-bottom: 1px solid #e8d4cf !important;
    border-bottom: 1px solid #e8d4cf;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid .email {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid transparent;
    padding: 0.5rem;
    width: 12.8rem;
    padding-bottom: 1.25rem;
    padding-left: 0;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid ::-webkit-input-placeholder {
    margin-left: 1rem;
    width: 13rem;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid ::-moz-placeholder {
    margin-left: 1rem;
    width: 13rem;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid :-ms-input-placeholder {
    margin-left: 1rem;
    width: 13rem;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid ::-ms-input-placeholder {
    margin-left: 1rem;
    width: 13rem;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid ::placeholder {
    margin-left: 1rem;
    width: 13rem;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid [placeholder] + span::after {
    content: "*";
    color: red;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid .av-checkbox a {
    padding-left: 2rem;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid .text {
    margin-right: 0.3rem;
    margin-left: 0.5rem;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid .text,
.sectionFive .sectionFiveContent .sectionFiveMid .terms {
    color: #002f39;
    font-family: "IBMPlexSans";
    font-size: 16px;
  }
  .sectionFive .sectionFiveContent .sectionFiveMid h6 {
    font-family: "IBMPlexSans-Medium";
    color: #002f39;
    margin-bottom: 0;
  }
  .sectionFive .sectionFiveContent .sectionFiveBottom .mc-field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sectionFive .sectionFiveContent .sectionFiveBottom input {
    margin: 2rem 0rem;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid #e8d4cf;
    outline: none;
  }
  .sectionFive .sectionFiveBottomHide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4rem 5rem;
    margin-bottom: 4rem;
  }
  .sectionFive .sectionFiveBottomHide .button {
    border: 1px solid #fff;
    padding: 1rem 4rem;
    border-radius: 2.4rem;
    color: #ffffff;
    font-family: "IBM Plex Sans";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    background-color: #f05e36;
  }

  .Footer {
    width: 100%;
    background-color: #021925;
    height: 40rem;
    margin-top: 9.4375rem;
  }
  .Footer .container {
    background-color: #021925;
    height: 100%;
    color: #e8d4cf;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Footer .container .footerHeader {
    margin-top: 8rem;
    margin-bottom: 6rem;
  }
  .Footer .container .footerHeader img {
    width: 17.75rem;
    opacity: 0.8;
  }
  .Footer .container .foooterBody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1.5px solid #113d53;
    border-bottom: 1.5px solid #113d53;
    width: 90%;
    height: 10rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .Footer .container .foooterBody .contentLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 65%;
    padding: 3rem 2rem;
    border-right: 2px #113d53 solid;
  }
  .Footer .container .foooterBody .contentLeft li {
    list-style: none;
    margin-bottom: 2rem;
    height: 15px;
    color: #ffffff;
    font-family: "IBMPlexSans-Light";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 15px;
    text-transform: uppercase;
  }
  .Footer .container .foooterBody .contentLeft .contentOne {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 8rem;
    margin-right: 6rem;
  }
  .Footer .container .foooterBody .contentLeft .contentTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Footer .container .foooterBody .contentRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Footer .container .foooterBody .contentRight .linkedIn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
  }
  .Footer .container .foooterBody .contentRight .linkedIn h5 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: #ffffff;
    font-family: "IBMPlexSans";
    font-size: 15px;
    letter-spacing: -0.22px;
    line-height: 19.5px;
  }
}
/*# sourceMappingURL=page2-1440.css.map */